{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <span>Timer</span>
    {% endset %}
    {% set text %}
        {% for key, arrMemory in collector.timer %}
            {% for memory in arrMemory %}
                <div><b>[{{ key }}]</b>: <span>{{ memory }} ms</span></div>
            {% endfor %}    
        {% endfor %}
    {% endset %}
    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block head %}
{% endblock %}

{% block menu %}
    {# the menu content #}
{% endblock %}

{% block panel %}
    {# the panel content #}
{% endblock %}