{% extends "inSingFrontendBundle::layout.html.twig" %}
{% set classBody = '"' %}
{% block title %}Article Single - New InSing{% endblock %}
{% block body %}
    <div id="page-container" class="page-article-single">
        <div class="wrapper-top">
            {% block breadcrumbs %}{{ wo_render_breadcrumbs() }}{% endblock %}
        </div>
        <div class="wrapper-middle">
            <div class="middle-left">
                <div class="left-main">
                    <div class="module-article container">
                        <div class="header">
                            <div class="boilerplate-caption">
                                <i class="icon icon-cicle-dotted"></i>
                                <h2 class="title-wrap os-semibold-ts">{{ article.series_description }}</h2>
                                {# render social bar #}
                                {% include "inSingFrontendBundle:_Partial:_social_buttons_like.html.twig" with
                                {'url' : app.request.uri|removeUrlParams, 'googlePlus' : true, 'twitter' : true, 'facebook' : true} %}
                            </div>
                            <h1 class="title rs-regular-sm">{{ article.title }}</h1>
                            <div class="info">
                                {% if article.author != null %}<span class="author">By {{ article.author }}</span>{% endif %}
                                <span class="web">{{ article.channel }}</span> -
                                <span class="updated">{{ change_date_update_for_artical(article.publish_date, article.last_updated_date) }}</span>
                            </div>
                            <div class="fb-like" data-href="{{ app.request.uri }}" data-action="like" data-show-faces="true" data-share="false"></div>
                        </div>
                        <div class="content">
                            <p>
                                <img src="{{ article.default_image }}" alt="{{ article.title }}">
                            </p>

                            {% for article_body_content in article.body %}
                                {% if 'rich_text' == article_body_content.module %}
                                    <p>{{ article_body_content.rich_text|raw }}</p>
                                {% endif %}

                                {% if article_body_content.module == 'video' and article_body_content.provider == 'Youtube' and article_body_content.video_id != '' %}
                                   <div class="video-container">
                                        <iframe src="//www.youtube.com/embed/{{ article_body_content.video_id }}" width="100%" height="{{ article_body_content.height }}" frameborder="0" allowfullscreen></iframe>
                                   </div>
                                {% endif %}

                                {% if article_body_content.module == 'video' and article_body_content.provider == 'Dailymotion' and article_body_content.video_id != '' %}
                                    <div class="video-container">
                                        <iframe src="http://www.dailymotion.com/embed/video/{{ article_body_content.video_id }}" width="100%" height="{{ article_body_content.height }}" frameborder="0"></iframe>
                                    </div>
                                    <p>{{ article_body_content.caption|raw }}</p>
                                {% endif %}

                                {% if article_body_content.module == 'video' and article_body_content.provider == 'Vimeo' and article_body_content.video_id != '' %}
                                    <div class="video-container">
                                        <iframe src="//player.vimeo.com/video/{{ article_body_content.video_id }}" width="100%" height="{{ article_body_content.height }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                    <p>{{ article_body_content.caption|raw }}</p>
                                {% endif %}

                                {% if article_body_content.module == 'video' and article_body_content.provider == 'Vine' and article_body_content.video_id != '' %}
                                    {% set scriptVideoVine = 1 %}
                                    <div class="video-container">
                                        <iframe class="vine-embed" src="https://vine.co/v/{{ article_body_content.video_id }}/embed/simple" width="100%" height="{{ article_body_content.height }}" frameborder="0"></iframe>
                                    </div>
                                    <p>{{ article_body_content.caption|raw }}</p>

                                {% endif %}

                                {% if article_body_content.module == 'video' and article_body_content.provider == 'Movideo' and article_body_content.video_id != '' %}
                                    {% set MovideoPlay = 1 %}
                                    <div class="movideo-player" id="movideo-player-{{ article_body_content.video_id }}"></div>
                                    <p>{{ article_body_content.caption|raw }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>

                        {% if previous_article == null and next_article == null %}
                        {% else %}
                            <div class="footer clearfix">
                                <ul class="other-article list-unstyled">
                                    {% if previous_article != null %}
                                        <li class="prev">
                                            <a href="{{ previous_article.content_url }}" class="link">
                                                <i class="icon icon-article-prev"></i>
                                            </a>
                                            <figure class="thumbnail">
                                                <a href="{{ previous_article.content_url }}" title><img src="{{ previous_article.image_url }}" alt="{{ previous_article.title }}"></a>
                                            </figure>
                                            <div class="info">
                                                <div class="name"><a href="{{ previous_article.content_url }}">{{ previous_article.title }}</a></div>
                                                <div class="type"><a href="#">{{ previous_article.series_name }}</a></div>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% if next_article != null %}
                                        <li class="next">
                                            <a href="{{ next_article.content_url }}" class="link">
                                                <i class="icon icon-article-next"></i>
                                            </a>
                                            <figure class="thumbnail">
                                                <a href="{{ next_article.content_url }}" title><img src="{{ next_article.image_url }}" alt="{{ next_article.title }}"></a>
                                            </figure>
                                            <div class="info">
                                                <div class="name"><a href="{{ next_article.content_url }}">{{ next_article.title }}</a></div>
                                                <div class="type"><a href="#">{{ next_article.series_name }}</a></div>
                                            </div>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}


                    </div>
                    <div class="module-grid-event container">
                        {{ render(controller('inSingFrontendBundle:Common:renderOutbrain')) }}

                    </div>
                </div>
            </div>
            <aside class="middle-right">
                {% if article.channel|lower == 'events' or article.channel|lower == 'movies' or article.channel|lower == 'hungrygowhere.com' %}
                    {{ render(controller('inSingFrontendBundle:Common:renderFindActivity', { 'channel' : article.channel })) }}
                {% endif %}
                <!-- MPU ADS -->
                <div class="mpu-ads mpu-landscape">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_landscape.html.twig' %}
                </div>
                <div class="mpu-ads mpu-portrait">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_portrait.html.twig' %}
                </div>
                <div class="mpu-ads mpu-mobile">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_mobile.html.twig' %}
                </div>
                <!-- /MPU ADS -->
                <!-- submit event module -->
                {# show submit event module if article channel is events #}
                {% if article.channel|lower == 'events' %}
                    {{ render(controller('inSingFrontendBundle:Common:renderSubmitEventRight')) }}
                {% endif %}
            </aside>
        </div>
        <div class="warpper-bottom"></div>

        <div id="fb-root"></div>
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=384230428379412&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
{% endblock %}

{% block js_lib_top %}
    {{ parent() }}
    <script type="text/javascript" src="http://widgets.outbrain.com/outbrain.js"></script>
{% endblock %}