{% extends "inSingFrontendBundle::layout.html.twig" %}
{% set classBody = 'class="page-event"' %}

{% block title %}{{ getParameter('insing_frontend_submit_event_title')|raw }}{% endblock %}
{% block metaDescription %}{{ getParameter('insing_frontend_submit_event_meta_description')|raw }}{% endblock %}

{% block js_lib_top %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/insingfrontend/js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/insingfrontend/js/event.submit.js') }}"></script>

{% endblock %}

{% block body %}
    <!-- page-container -->
    <div id="page-container" class="page-event-submit">
        <div class="wrapper-top">
            <!-- breadcrumbs -->
            {% block breadcrumbs %}{{ wo_render_breadcrumbs() }}{% endblock %}
        </div>

        <div class="wrapper-middle">
            <!-- st left module -->
            {{ include('inSingFrontendBundle:Event:_formeventssubmit.html.twig',
            {'form': form, 'categories': categories, 'errorMessage': errorMessage }) }}
            <!-- ed left module -->
            <!--st right module-->
            <aside class="middle-right">
                <!-- search -->
                <!-- st render find-activity -->
                {{ render(controller('inSingFrontendBundle:Common:renderFindActivity', { 'channel' : 'events' })) }}
                <!-- ed render find-activity -->
                <!-- MPU ADS -->
                {#<div class="mpu-ads mpu-landscape"><a href="#"><img src="images/demo/mpu-1.png" alt=""></a></div>#}
                {#<div class="mpu-ads mpu-portrait"><a href="#"><img src="images/demo/mpu-1.png" alt=""></a></div>#}
                {#<div class="mpu-ads mpu-mobile"><a href="#"><img src="images/demo/mpu-1.png" alt=""></a></div>#}

                <div class="mpu-ads mpu-landscape">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_landscape.html.twig' %}
                </div>
                <div class="mpu-ads mpu-portrait">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_portrait.html.twig' %}
                </div>
                <div class="mpu-ads mpu-mobile">
                    {% include 'inSingFrontendBundle:Gpt:_mpu1_mobile.html.twig' %}
                </div>
                <!-- /MPU ADS -->
                <!-- event submit -->
                {#{% include 'inSingFrontendBundle:Event:_submiteventthumb.html.twig' %}#}
                <!-- restaurant nearby -->
                {{ render(controller('inSingFrontendBundle:Event:_renderHotRestauRantDealBlock', { 'limit': 3 })) }}
            </aside>
            <!-- ed right module -->
        </div>
        <div class="warpper-bottom"></div>

    </div>
{% endblock %}