{% if data is not empty %}
    {% for item in data %}
        {#item.url_image, item.book_now_url, item.url_detail, item.title, item.description, item.data_from, item.slot#}
        <li class="item">
            <figure class="align-focus">
                <a href="{{ item.url_detail }}" title="{{ item.title }}">
                    {% set urlImage = asset('bundles/insingfrontend/images/default_306x230.jpg') %}
                    {% if item.url_image is not empty %}
                        {% set urlImage = item.url_image %}
                    {% endif %}
                    {#fix-size for data type from tableDB#}
                    <img src="{{ urlImage }}" alt="{{ item.title }}" {{ (item.content_type_num == 5) ? 'class="fixed-size"' : '' }}>
                </a>
            </figure>
            <div class="entry" data_from="{{ item.data_from }}" slot="{{ item.slot }}">
                <h4 class="title-wrap rs-regular-s">
                    <a href="{{ item.url_detail }}" title="{{ item.title }}">{{ item.title }}</a>
                </h4>
                {% set des = item.description|striptags %}
                {% set des = truncate_word(des, 300) %}
                <div class="desc">{{ des }}</div>
            </div>
            {% if item.book_now_url is not empty %}
                {% if item.book_now_url == 'post' %}
                    <a href="javascript:void(0);" rel="nofollow"
                       data-slug="{{ item.slug }}"
                       data-tabledb_id="{{ item.tabledb_id }}"
                       class="link book_now_post" title="BOOK NOW">BOOK NOW</a>
                {% else %}
                    <a href="javascript:void(0);" rel="nofollow" onclick="this.href='{{ item.book_now_url }}';"
                       class="link" title="BOOK NOW">BOOK NOW</a>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
{% endif %}