{% if data is not empty %}
<div class="head-wrap">
    <h1 class="title-wrap os-extrabold-ts">Latest Events news</h1>
    <a href="#" class="link button-corner-cut green">
        <span>See more Event News</span>
    </a>
</div>
<div class="event-list latest">
    {% for content in data %}
    <div class="item">
        <div class="photo">
            <figure class="align-focus">
                <a href="{{ content.content_url }}" title="{{ content.title }}">
                    <img src="{{ content.default_image }}" alt="{{ content.title }}">
                </a>
            </figure>
        </div>
        <div class="entry">
            <h3 class="rs-regular-s"><a href="{{ content.content_url }}" title="{{ content.title }}">{{ content.title }}</a></h3>
            <div class="desc">{{ content.summary }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}