{% if restaurants is not empty %}
<div class="module-restaurant-nearby container">
    <h4 class="m-title os-extrabold-ts">RESTAURANTS NEARBY</h4>
    <ul class="list">
        {% for item in restaurants %}
        <li class="item">
            <figure class="align-focus">
                <a href="{{ item.restaurant_url }}" rel="nofollow">
                    <img src="{{ item.image }}" alt="{{ item.name }}">
                </a>
            </figure>
            <div class="entry">
                <h4 class="name rs-regular-ts">
                    <a href="{{ item.restaurant_url }}" rel="nofollow">{{ item.name }}</a>
                </h4>
                <div class="type-place">{{ item.cuisines }}</div>
                {% if item.thumbs_up_percentage != null %}
                <div class="vote">
                    <span class="vote-value">{{ item.thumbs_up_percentage }}%</span><i class="icon icon-vote"></i>
                </div>
                {% endif %}
                {% if item.tabledb_id != null and item.slug != null %}
                <div class="link">
                    <a href="javascript:void(0);" rel="nofollow"
                       data-slug="{{ item.slug }}"
                       data-tabledb_id="{{ item.tabledb_id }}"
                       id="restaurant-book-now"
                       class="button-corner-cut red" title="BOOK NOW"><span>BOOK NOW</span></a>
                </div>
                {% endif %}
            </div>
        </li>
        {% endfor %}

        {{ include('inSingFrontendBundle:_Partial:_booknowform.html.twig') }}
    </ul>
</div>
{% endif %}
