{% spaceless %}<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block metaDescription %}{% endblock %}">
    <meta name="keywords" content="{% block metaKeyword %}{% endblock%}">
    {% block facebook_meta %}{% endblock %}

    {% if (app.request.host != 'www.insing.com') %}
        <meta name="robots" content="noindex, nofollow, noimageindex, nomediaindex">
        <meta name="robots" content="noydir, noodp">
    {% else %}
        <meta name="robots" content="index, follow">
        <meta name="robots" content="noydir, noodp">
    {% endif %}
    <meta property="fb:app_id" content="{{ facebook_app_id }}" />
    <meta property="og:type" content="insingcom:article" />

    {% block canonical %}{% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ asset('bundles/insingfrontend/images/apple-touch-icon-precomposed.png') }}"/>

    {% block stylesheets %}
        {%
        stylesheets filter='yui_css' output = 'bundles/insingfrontend/css/*.css'
        '@inSingFrontendBundle/Resources/public/css/screen.min.css'
        %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <!-- GA Tracking -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ insing_ga_tracking_id }}']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- modernizr -->


</head>
<!--[if IE 7 ]><body class="ie ie7"><![endif]-->
<!--[if IE 8 ]><body class="ie ie8"><![endif]-->
<!--[if IE 9 ]><body class="ie ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body {{ classBody is defined ? classBody|raw : '' }}><!--<![endif]-->
<div id="layout" >
    {% block header %}
        {{ render(controller('inSingFrontendBundle:Home:renderHeader')) }}
    {% endblock %}

    <!-- ads leaderboard -->
    <div class="leader-board hidden-xs" id="ad_leaderboard"></div>
    {% block body %}{% endblock %}

    {% block footer %}
        {{ render(controller('inSingFrontendBundle:Home:renderFooter')) }}
    {% endblock %}
</div><!-- /#layout -->
{% if is_desktop() %}
    <!--<div id="wallpaper-ads" class="wallpaper-ads"></div> / #ad-wallpaper -->
{% endif %}
{% block js_lib_top %}
    {#for prod#}
    {%
    javascripts filter='yui_js' output = 'bundles/insingfrontend/js/*.js'
    '@inSingFrontendBundle/Resources/public/js/jquery.min.js'
    '@inSingFrontendBundle/Resources/public/js/jquery-migrate.min.js'
    '@inSingFrontendBundle/Resources/public/js/modernizr.min.js'
    '@inSingFrontendBundle/Resources/public/js/jquery.ui.core.min.js'
    '@inSingFrontendBundle/Resources/public/js/owl.carousel.js'
    '@inSingFrontendBundle/Resources/public/js/jquery.nanoScroller.js'
    '@inSingFrontendBundle/Resources/public/js/gpt.js'
    '@inSingFrontendBundle/Resources/public/js/homepage_search.js'
    %}
    {#'@inSingFrontendBundle/Resources/public/js/homepage_search.js'#}
    <script type="text/javascript"  src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
<!-- gpt -->
<script type="text/javascript">
    var commonValues = {
        'gptAdZoneHomepage': '{{ gpt_ad_zone_homepage }}',
        'isDesktop': '{{ is_desktop() }}'
    };
</script>
<!-- MPU Lib -->
{% include 'inSingFrontendBundle:Layout:mpu_block.html.twig' %}
{% include 'inSingFrontendBundle:Gpt:_ad_1_1.html.twig' %}
{% block js_lib_bottom %}
    {#for prod#}
    {%
    javascripts filter='yui_js' output = 'bundles/insingfrontend/js/*.js'
    '@inSingFrontendBundle/Resources/public/js/device-detect.js'
    '@inSingFrontendBundle/Resources/public/js/main.js'
    '@inSingFrontendBundle/Resources/public/js/render.js'
    %}
    <script type="text/javascript"  src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
<!-- Effective Measure  -->
<script type="text/javascript">
    (function() { var em = document.createElement('script'); em.type = 'text/javascript'; em.async = true; em.src = ('https:' == document.location.protocol ? 'https://sg-ssl' : 'http://sg-cdn') + '.effectivemeasure.net/em.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(em, s);
    })();
</script>
<!-- social -->
<div id="fb-root"></div>
{#compressed below code#}
<script>$(window).load(function(){(function(a,b,c){var d=a.getElementsByTagName(b)[0];a.getElementById(c)||(a=a.createElement(b),a.id=c,a.src="//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=384230428379412&version=v2.0",d.parentNode.insertBefore(a,d))})(document,"script","facebook-jssdk");!function(a,b,c){var d=a.getElementsByTagName(b)[0];a.getElementById(c)||(a=a.createElement(b),a.id=c,a.src="https://platform.twitter.com/widgets.js",d.parentNode.insertBefore(a,d))}(document,"script","twitter-wjs");
        (function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="https://apis.google.com/js/plusone.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})()});</script>

<!-- Crazyegg -->
<script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script"); var b=document.getElementsByTagName("script")[0]; a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/7525.js?"+Math.floor(new Date().getTime()/3600000); a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

<!-- Begin comScore Tag -->
<script>
    var _comscore = _comscore || [];
    _comscore.push({ c1: "2", c2: "6343423" });
    (function() {
        var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
        s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
        el.parentNode.insertBefore(s, el);
    })();
</script>
<noscript>
    <img src="http://b.scorecardresearch.com/p?c1=2&c2=6343423&cv=2.0&cj=1" />
</noscript>
</body>
</html>{% endspaceless %}