<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>inSing New Insing Admin Tool - {% block title %}inSing Today{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />


		{% block stylesheets %}
            {%
                stylesheets filter = 'insing_css_rewrite' output = 'bundles/insingadmin/css/*.css'
                '@inSingAdminBundle/Resources/public/css/admin.css'
                '@inSingAdminBundle/Resources/public/css/colorbox.css'
                '@inSingAdminBundle/Resources/public/css/jquery-ui.css'
            %}
                <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
		{% endblock %}

        {% block javascripts %}
            {%
                javascripts output = 'bundles/insingadmin/js/*.js'
                '@inSingAdminBundle/Resources/public/js/jquery-1.9.1.min.js'
                '@inSingAdminBundle/Resources/public/js/jquery-ui.js'
                '@inSingAdminBundle/Resources/public/js/jquery-ui-timepicker-addon.js'
                '@inSingAdminBundle/Resources/public/js/jquery.colorbox.js'
                '@inSingAdminBundle/Resources/public/js/bootstrap-alert.js'
                '@inSingAdminBundle/Resources/public/js/bootstrap-transition.js'
                '@inSingAdminBundle/Resources/public/js/calendar.js'
                '@inSingAdminBundle/Resources/public/js/main.js'
                '@inSingAdminBundle/Resources/public/js/bootstrap.min.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
		{% endblock %}
    </head>
        <!--[if IE 7 ]><body class="ie7"><![endif]-->
        <!--[if IE 8 ]><body class="ie8"><![endif]-->
        <!--[if IE 9 ]><body class="ie9"><![endif]-->
        <!--[if (gt IE 9)|!(IE)]><!--><body><!--<![endif]-->
        <div id="main_container">
            <div id="logo">
                <a href="{{ url('in_sing_admin_features') }}">
                    <img src="{{ asset('bundles/insingadmin/images/logo.png') }}" alt="inSing.com">
                </a>
            </div>
            <div class="main_content">
                <div id="menu">
                    <ul>
                        <li class="blue">
                            <a href="{{ url('in_sing_admin_carousel') }}">Carousel</a>
                        </li>
                        <li class="blue">
                            <a href="{{ url('in_sing_admin_hgw') }}">HGW</a>
                        </li>
                        <li class="blue">
                            <a href="{{ url('in_sing_admin_reset_caches_page') }}">Reset Cache</a>
                        </li>
                        <li class="menu_logout">
                            <a href="{{ url('in_sing_admin_logout') }}" class="user_name">
                                {{ app.security.getToken().user }}
                            </a>
                            <a href="{{ url('in_sing_admin_logout') }}" class="logout">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>

                {% block body %}{% endblock %}
            </div>
        </div>

        {% block footer %}
            <div id="footer">
                &copy; 2015, SingTel Digital Media Pte Ltd. All Rights Reserved.
            </div>
        {% endblock %}

        {% block bottom_javascripts %}{% endblock %}
    </body>
</html>