/*Copyright (c) 2010, Yahoo! Inc. All rights reserved.Code licensed under the BSD License:http://developer.yahoo.com/yui/license.htmlversion: 2.8.2r1Reset*/
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
html, body {background-color: #f8f8fa;}
body {font-size: 13px;font-family: Tahoma, Helvetica, Verdana, sans-serif;color: #616161;}
a {color: #0092cf;text-decoration: none;}
a:hover {text-decoration: underline;color: #DD0000;}
strong{font-weight: bold;}
em{font-style: italic;}
h1, h2, h3{/* font-family: Georgia, "Times New Roman", Times, serif;	*/
color:#404040;}
h1 {font-size: 40px;padding-bottom: 20px;}
h2{font-weight:bold;color:#FFFFFF;/* Font is duplicated of body (sans-serif) */
font-family:"Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;margin-bottom: 10px;background-color: #aacd4e;padding:2px 4px;display:inline-block;text-transform:uppercase;}
p{line-height: 20px;padding-bottom: 20px;}
#footer{text-align: center;font-size: 10pt;padding-bottom: 10px;}
input,textarea,select {color: #616161;}

#logo {margin:10px 0 10px 15px;}
#main_container{width:1050px;margin:10px auto;position:relative;}
.main_content{background-color:white;border:1px solid #DFDFDF;padding:30px;border-radius:16px;-moz-border-radius:16px;-webkit-border-radius:16px;margin-bottom:20px;word-wrap: break-word;}

#welcome {font-size: 12pt;font-weight: bold;}
fieldset {border: 1px solid #aaa;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;padding: 10px;margin-top: 15px;}
fieldset legend {float: left;margin-top: -28px;font-weight: bold;font-size: 14pt;padding: 5px 10px;margin-left: 10px;background-color: #fff;}
fieldset .fieldset_container {margin: 10px;}
fieldset .legend_icons {float: right;margin-top: -27px;margin-right: 10px;font-size: 12pt;background-color: #fff;padding: 3px 6px;font-weight: bold;}
fieldset .legend_icons .icon {float: right;height: 32px;width: 32px;border: 1px solid #ddd;margin: 2px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;}
fieldset .legend_icons .icon {height: 22px;width: 22px;}
fieldset .legend_icons .icon:hover {background-color: #eee;}
fieldset .legend_icons .icon .search {width: 22px;height: 22px;}
fieldset .legend_icons .icon .add {width: 16px;height: 17px;margin: 2px auto;}
fieldset .legend_icons .icon a span{display:block;background-image: url(../images/sprite.png);background-repeat:no-repeat;text-indent:-10000px;position:relative;}
fieldset .legend_icons .icon .search a span {width: 22px;height: 22px;background-position:0 0;}
fieldset .legend_icons .icon .add a span {width:16px;height: 17px;background-position:-21px -3px;}
.separator {clear: both; height: 40px;}

/* ----- main menu styilng ----- */
#menu {background-color: #eee;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;margin-bottom: 30px;padding: 7px;overflow:hidden;}
#menu > ul > li, #menu > ul > li > a {border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
/*#menu > ul > li:not([id=menu_logout]):hover {*/
#menu > ul > li[id=menu_home]:hover {-webkit-border-bottom-left-radius: 0;-moz-border-radius-bottomleft: 0;border-bottom-left-radius: 0;-webkit-border-bottom-right-radius: 0;-moz-border-radius-bottomright: 0;border-bottom-right-radius: 0;}
#menu ul > li
{
  float: left;
  margin: 3px;
  cursor: pointer;
}
#menu ul li a
{
  border-width: 1px;
  border-style:solid;
  color: #fff;
  font-weight: bold;
  padding: 2px 8px;
  display:block;
}
#menu ul li a:hover
{
  background-color:#fff!important;
  text-decoration:none;
}

#menu ul li.red a{background-color:#c00;border-color:#c00;}
#menu ul li.red a:hover{color:#c00;}
#menu ul li.green a{background-color:#3f8400;border-color:#3f8400;}
#menu ul li.green a:hover{color:#3f8400;}
#menu ul li.blue a{background-color:#0091d0;border-color:#0091d0;}
#menu ul li.blue a:hover{color:#0091d0;}
#menu ul li.pink a{background-color:#e0477f;border-color:#e0477f;}
#menu ul li.pink a:hover{color:#e0477f;}
#menu ul li.violet a{background-color:#9c4397;border-color:#9c4397;}
#menu ul li.violet a:hover{color:#9c4397;}
#menu ul li.grey a{background-color:#999;border-color:#999;}
#menu ul li.grey a:hover{color:#999;}
#menu ul li.yellow a{background-color:#ffcc00;border-color:#ffcc00;}
#menu ul li.yellow a:hover{color:#ffcc00;}

#menu ul .menu_logout{position: absolute;right: 0;top: 15px;}
#menu ul .menu_logout a{background-color:#000;border-color:#000;}
#menu ul .menu_logout:hover a{color:#000;}
#menu ul .menu_logout .logout{display:none;}
#menu ul .menu_logout:hover a.user_name{display:none;}
#menu ul .menu_logout:hover a.logout{display:block;}

#menu ul li a.menu_item{cursor:default;}
#menu ul ul {display: none;cursor: pointer;margin-left: -11px;margin-top: 2px;width: auto;}
#menu ul ul.active {display: block;position: absolute;}
/*#menu ul ul li {display: block;clear: both;margin:0px;width: 100%;font-weight: bold;}*/
#menu ul ul li:not(:last-child) {border-bottom: 1px dotted #fff !important;}
#menu ul ul li:not(:first-child) {border-top: none !important;}
#menu ul ul li:first-child {-webkit-border-top-right-radius: 3px;-moz-border-radius-topright: 3px;border-top-right-radius: 3px;}
#menu ul ul li:last-child {-webkit-border-bottom-left-radius: 3px;-moz-border-radius-bottomleft: 3px;border-bottom-left-radius: 3px;-webkit-border-bottom-right-radius: 3px;-moz-border-radius-bottomright: 3px;border-bottom-right-radius: 3px;}
/*
#menu ul li#menu_home { background: #adadad; border: 1px solid #adadad; }
#menu ul li#menu_home:hover { background-color: #fff; }
#menu ul li#menu_home:hover > a { color: #adadad; }
#menu ul li#menu_home ul li { background: #adadad; border: 1px solid #adadad; color: #fff; }
#menu ul li#menu_home ul li a { color: #fff; }
#menu ul li#menu_home ul li:hover { background: #f2f2f2; border: 1px solid #adadad; color: #adadad; }
#menu ul li#menu_home ul li:hover a { color: #adadad; }

#menu ul li#menu_hero_modules { background: #d00; border: 1px solid #d00; }
#menu ul li#menu_hero_modules > a:hover, #menu ul li#menu_hero_modules > a.active { background-color: #fff; color: #d00;}
#menu ul li#menu_hero_modules ul li { background: #d00; border: 1px solid #d00; color: #fff; }
#menu ul li#menu_hero_modules ul li a { color: #fff; }
#menu ul li#menu_hero_modules ul li:hover { background: #ffdcdc; border: 1px solid #d00; color: #d00; }
#menu ul li#menu_hero_modules ul li:hover a { color: #d00; }

#menu ul li#menu_insing_today { background: #ff6e01; border: 1px solid #ff6e01; }
#menu ul li#menu_insing_today > a:hover, #menu ul li#menu_insing_today > a.active { background-color: #fff; color: #ff6e01; }
#menu ul li#menu_insing_today ul li { background: #ff6e01; border: 1px solid #ff6e01; color: #fff; }
#menu ul li#menu_insing_today ul li a { color: #fff; }
#menu ul li#menu_insing_today ul li:hover { background: #ffe6d2; border: 1px solid #ff6e01; color: #ff6e01; }
#menu ul li#menu_insing_today ul li:hover a { color: #ff6e01; }

#menu ul li#menu_tong_shu { background: #0079ae; border: 1px solid #0079ae; }
#menu ul li#menu_tong_shu > a:hover, #menu ul li#menu_tong_shu > a.active { background-color: #fff; color: #0079ae;}
#menu ul li#menu_tong_shu ul li { background: #0079ae; border: 1px solid #0079ae; color: #fff }
#menu ul li#menu_tong_shu ul li a { color: #fff; }
#menu ul li#menu_tong_shu ul li:hover { background: #caefff; border: 1px solid #0079ae; color: #0079ae; }
#menu ul li#menu_tong_shu ul li:hover a { color: #0079ae; }

#menu ul li#menu_featured_restaurants { background: #007700; border: 1px solid #007700; }
#menu ul li#menu_featured_restaurants > a:hover, #menu ul li#menu_featured_restaurants > a.active { background-color: #fff;color: #007700; }
#menu ul li#menu_featured_restaurants ul li { background: #007700; border: 1px solid #007700; color: #fff }
#menu ul li#menu_featured_restaurants ul li a { color: #fff; }
#menu ul li#menu_featured_restaurants ul li:hover { background: #caefff; border: 1px solid #007700; color: #007700; }
#menu ul li#menu_featured_restaurants ul li:hover a { color: #007700; }

#menu ul li#menu_super_deals { background: #8080C0; border: 1px solid #8080C0;}
#menu ul li#menu_super_deals > a:hover, #menu ul li#menu_super_deals > a.active {background-color: #fff; color: #8080C0;}
#menu ul li#menu_super_deals ul li { background: #8080C0; border: 1px solid #8080C0; color: #fff }
#menu ul li#menu_super_deals ul li a { color: #fff; }
#menu ul li#menu_super_deals ul li:hover { background: #caefff; border: 1px solid #0079ae; color: #8080C0; }
#menu ul li#menu_super_deals ul li:hover a { color: #8080C0; }

#menu ul li#menu_sub{background:#3cb8ff; border: 1px solid #3cb8ff; color:#fff;}
#menu ul li#menu_sub:hover { background-color: #fff; }
#menu ul li#menu_sub:hover > a { color: #3cb8ff; }
#menu ul li#menu_sub ul li { background: #3cb8ff; border: 1px solid #3cb8ff; color: #fff }
#menu ul li#menu_sub ul li a { color: #fff; }
#menu ul li#menu_sub ul li:hover { background: #f3faff; border: 1px solid #3cb8ff; color:#3cb8ff; }
#menu ul li#menu_sub ul li:hover a { color: #3cb8ff; }

#menu ul li#menu_sub2{background:#3cb8ff; border: 1px solid #3cb8ff; color:#fff; margin-top: 5px }
#menu ul li#menu_sub2:hover { background-color: #fff; }
#menu ul li#menu_sub2:hover > a { color: #3cb8ff; }
#menu ul li#menu_sub2 ul li { background: #3cb8ff; border: 1px solid #3cb8ff; color: #fff }
#menu ul li#menu_sub2 ul li a { color: #fff; }
#menu ul li#menu_sub2 ul li:hover { background: #f3faff; border: 1px solid #3cb8ff; color:#3cb8ff; }
#menu ul li#menu_sub2 ul li:hover a { color: #3cb8ff; }

#menu ul li#menu_top{background:#3cb8ff; border: 1px solid #3cb8ff; color:#fff;}
#menu ul li#menu_top:hover { background-color: #fff; }
#menu ul li#menu_top:hover > a { color: #3cb8ff; }
#menu ul li#menu_top ul li { background: #3cb8ff; border: 1px solid #3cb8ff; color: #fff }
#menu ul li#menu_top ul li a { color: #fff; }
#menu ul li#menu_top ul li:hover { background: #caefff; border: 1px solid #0079ae; color: #3cb8ff; }
#menu ul li#menu_top ul li:hover a { color: #3cb8ff; }

#menu ul li.menu_a { background: #EF419B; border: 1px solid #EF419B; margin-top: 5px }
#menu ul li.menu_a:hover { background-color: #fff; }
#menu ul li.menu_a:hover > a { color: #EF419B; }
*/

/* ----- main menu styilng ----- */
/* ----- pagination styilng ----- */
.pagination {text-align: center;}
.pagination span.inactive {color: #ccc;}
.pagination ul {display: inline;text-align: center;width: 90%;margin: auto;}
.pagination ul li {display: inline;margin: 2px;}
.pagination ul li a {padding: 10px;}
.pagination ul li:hover {background-color: #0092cf;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;font-weight: bold;}
.pagination ul li:hover a {font-weight: bold;color: #fff;text-decoration:none;}
.pagination ul li.current {background-color: #d00;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;font-weight: bold;color: #fff;padding: 0px 10px;}
.pagination ul li.ellipsis:hover {background-color: #fff;font-weight: normal;}
.pagination span a:hover {font-weight: normal;	}
/* ----- TYPE ----- */
.clearfix,
.generic_form .control-group{*zoom:1;}

.clearfix:before,
.clearfix:after,
.generic_form .control-group:before,
.generic_form .control-group:after{display:table;content:"";line-height:0;}

.clearfix:after,
.generic_form .control-group:after{clear:both}

.mt5{margin-top:5px!important;}
.mb5{margin-bottom:5px!important;}
.ml5{margin-left:5px!important;}
.mr5{margin-right:5px!important;}

.mt10{margin-top:10px!important;}
.mb10{margin-bottom:10px!important;}
.ml10{margin-left:10px!important;}
.mr10{margin-right:10px!important;}

.mt15{margin-top:15px!important;}
.mb15{margin-bottom:15px!important;}
.ml15{margin-left:15px!important;}
.mr15{margin-right:15px!important;}

.mt20{margin-top:20px!important;}
.mb20{margin-bottom:20px!important;}
.ml20{margin-left:20px!important;}
.mr20{margin-right:20px!important;}

.span20{width:20px!important}
.span30{width:30px!important}
.span40{width:40px!important}
.span50{width:50px!important}
.span60{width:60px!important}
.span70{width:70px!important}
.span80{width:80px!important}
.span90{width:90px!important}
.span100{width:100px!important}
.span110{width:110px!important}
.span120{width:120px!important}
.span130{width:130px!important}
.span140{width:140px!important}
.span150{width:150px!important}
.span160{width:160px!important}
.span170{width:170px!important}
.span180{width:180px!important}
.span190{width:190px!important}
.span200{width:200px!important}
.span250{width:250px!important}
.span300{width:300px!important}
.span450{width:450px!important}

/* FORM */
.loading{display:inline-block;vertical-align:middle;}

.generic_form{clear: both;}
.generic_form .label
{
  display:block;
  line-height:24px;
  width:150px;
  position: absolute;
  left:0;
  top:0;
}

.generic_form .label em{color:#f00}

.generic_form .control-group
{
  line-height:24px;
  margin-bottom:5px;
  min-height: 24px;
  position: relative;
}

.generic_form .control{margin-left:155px;}
.control-group .control select
{
  height: 24px;
  max-width: 790px;
  overflow: hidden;
}

input[type="text"],
input[type="url"],
textarea, select
{
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #aae0ff;
  display: inline-block;
  margin:0;
  padding: 2px 1%;
}

.generic_form input[type="text"],
.generic_form input[type="url"]
{
  padding: 3px 1%;
  width: 97%;
}

.generic_form input[type="text"][readonly="true"],
.generic_form input[type="url"][readonly="true"]
{
    background-color: #d4d4d4 !important;
}
.generic_form input:hover, textarea:hover, select:hover{border-color:#0065CA;}

input[type='submit'],
input[type='button'],
a.button,
button
{  
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #088fc9;
  border:none!important;
  color: #fff;  
  cursor: pointer;
  display:inline-block;
  font-weight: bold;
  line-height: 18px;
  padding: 5px 10px;
}

.btn-grey
{  
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #bbb;
  border:none!important;
  color: #fff;  
  cursor: pointer;
  display:inline-block;
  font-weight: bold;
  line-height: 18px;
  padding: 5px 10px;
}

.btn-grey:hover
{
  color:#fff;
  text-decoration: none;
}

.generic_form textarea.full
{
  height:175px;
  overflow: auto;
  padding: 1%;
  width: 97%;
}

.error{color:#f00;font-size:12px;margin-top:3px}

.note
{
  color: #999;
  font-size: 12px;  
  font-style: italic;
  padding-bottom:0;
}

.checkbox-list label{padding-right:30px}

.checkbox-list input
{
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.generic_form input.key_word, .generic_form input#form_keyWord   { width:68%;}
.generic_form input.get_article_api, .generic_form input.search { display:inline; margin-left:10px !important; padding: 3px 10px; margin-top:0 !important;}

	/* error */
.generic_form span.error{display:block;padding:0px 0px 0px 150px;color:#C00;word-wrap:normal;clear:left;text-align:left; margin:5px 0;}

.generic_form #article_liveAt > div,.generic_form #searchTrend_live_at > div,.generic_form #featuredRestaurant_live_at > div,.generic_form #superdeal_expiryOn > div,.generic_form #superdeal_live_at > div {float: left;margin: 0px;}
.generic_form .f_multi_checkbox input{float:left;margin:6px 5px 0 0;padding:0;vertical-align:top}
.ie9 .generic_form .f_multi_checkbox input, .ie8 .generic_form .f_multi_checkbox input{margin-top:3px}
.generic_form .f_multi_checkbox label{width:auto;margin-right:50px}
.generic_form .f_multi_checkbox label:first-child{width:145px;margin-right:5px}
.generic_form .f_separation{float:left;line-height:26px;margin:0 0 0 -7px;padding:0;color:#616161}

.generic_form .f_btn input[type='button'], .generic_form .f_btn span{float:left}
.generic_form .f_btn span{padding-top:5px;display:none}

input[type='submit']:hover,
input[type='button']:hover,
a.button:hover,
button:hover,
.btn-grey:hover{background: #f00;}

a.button{text-decoration:none;}

input[type='submit'].search {margin-left: 120px;}
#ajax_response {margin-left: 135px;width: 80%;}
#ajax_response > #ajax_error {color: red;}

#form {clear: both;}
#form div {margin: 5px;}
#form label {float: left;width: 110px;}
#form select{float:left;}
#form input:hover,textarea:hover,select:hover {border: 1px solid #0065CA;}

#form .search-txt{margin-left: 40px;}
#form .search-txt input[type="text"]{width:87%;}
/* ----- form styling ----- */
/* ----- slot styling ----- */
.slot {padding: 5px;border-radius: 5px;background-color: #fafafa;margin-top: 2px;margin-bottom: 5px;}
.slot:hover {background-color: #eee;}
.slot ol {}
.slot ol li {vertical-align: middle;padding: 3px;margin-bottom: 5px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;clear: both;overflow: hidden;}
.slot ol li:hover {background-color: #ddd;}
.slot ol li:last-child {}
.slot ol li a {font-weight: normal;}
.slot ol li .image {float: left;width: 50px;margin-right: 5px;}
.slot ol li .image img {float: left;width: 50px;}
.slot ol li .title {margin-left: auto;margin-right: auto;}
.slot ol li .title .date {font-size: 7pt;color: #aaa;}
.slot ol li .delete {float: right;}
.slot ol li .add_new, .slot .add_new {color: #bbb;}
.slot .state-disabled {padding:1px; margin:0;}
.slot .add_new a { font-weight:normal;}
/* ----- slot styling ----- */
.delete_icon
{
  display:inline-block;
  background: url(../images/sprite.png) -60px 0 no-repeat;
  height:20px;
  width:20px;
  vertical-align: middle;
}

.up_icon
{
  background: url(../images/sprite.png) -101px 0 no-repeat;
  height: 12px;
  width: 9px;
  display:inline-block;
  vertical-align: middle;
}
.down_icon
{
  background: url(../images/sprite.png) -111px 0 no-repeat;
  height: 12px;
  width: 9px;
  display:inline-block;
  vertical-align: middle;
}

.publish_icon
{
  background: url(../images/publish.png) 0 0 no-repeat;
  height: 16px;
  width: 16px;
  display:inline-block;
  vertical-align: middle;
}

.suspend_icon
{
  background: url(../images/suspend.png) 0 0 no-repeat;
  height: 15px;
  width: 12px;
  display:inline-block;
  vertical-align: middle;
}

.draft_icon
{
  background: url(../images/draft.png) 0 0 no-repeat;
  height: 16px;
  width: 16px;
  display:inline-block;
  vertical-align: middle;
}

.archive_icon
{
  background: url(../images/archive.png) 0 0 no-repeat;
  height: 16px;
  width: 16px;
  display:inline-block;
  vertical-align: middle;
}
.clone_icon
{
    background: url(../images/clone.png) 0 0 no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    vertical-align: middle;
}
/* ----- list styling ----- */
.list {margin: 10px;padding: 5px;border-radius: 5px;}
.list ol li {vertical-align: middle;line-height: 20px;padding: 3px 10px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-bottom: 1px dotted #ccc;overflow: hidden;margin-top: -1px;}
.list ol li:last-child {border-bottom: none;}
.list ol li:hover {background-color: #eee;}
.list ol li > a{float:left;width:50%}
.list.custom-page ol li > a{float:left;width:40%}
.list ol li .date,
.list ol li .pageTitle{font-size: 8pt;margin-right: 15px;float: right;}
.list ol li .duplicate{float:right;}
.list ol li .delete {float: right;text-align: right;width:100px}
.list ol li .delete a:hover{text-decoration: none;}
.list ol li .active {float: right;}
.list ol li .inactive {float: right;color: #ccc;}
.list ol li .add_new {color: #bbb;}
.list ol li .item {float: left;width: 735px;}
.list ol li .item .title {font-weight: bold;color: #525252;overflow:hidden;}
.list ol li .item .title a{margin-right:0;}
.list ol li .item .outlet {font-weight: normal;}
.list ol li .use_this {float: right;border: 1px solid #088fc9;background-color: #088fc9;padding: 1px 4px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;}
.list ol li .use_this a {color: #fff;font-size: 8pt;font-weight: bold;margin-right:0;}
.list ol li .item .description {}
.list ol li .item .neighbourhoods {padding-bottom: 4px;}
.list ol li .item .neighbourhoods .neighbourhood {font-size: 7.5pt;color: #ff6e01;background-color: #fff;padding: 2px 5px;margin-right: 5px;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-bottom: 1px dotted #ccc;box-shadow: 2px 2px 2px rgba(0,0,0,.3);}

.list ol li .badge
{
  color:#fff;
  float:left;
  font-size: 12px;
  margin-right: 5px;
  padding: 0 5px;
  text-align: center;
  width: 75px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.list ol li .published{background-color:#468847;}
.list ol li .suspended{background-color:#f89406;}
.list ol li .archived{background-color:#3a87ad;}
.list ol li .deleted{background-color:#b94a48;}
.list ol li .draft{background-color:#999;}

/* ----- list styling ----- */
.flash-notice {background-color: #aae0ff;padding: 10px;margin: 20px;font-weight: bold;color: #000;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
.flash-notice-error{background-color: #d00;padding: 10px;margin: 20px;font-weight: bold;color: #e3e2e2;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
/* ----- colorbox version styling ----- */
.hide {display: none;}
#graph_rep {margin-top: 10px;overflow: hidden;}
#graph_rep #left_container {float: left;width: 65%;overflow: auto;}
#graph_rep #left_container > .supermodule {width: 94%;float: left;clear: both;}
#graph_rep #left_container > .supermodule > .left {width: 49%;float: left;clear: both;}
#graph_rep #left_container > .supermodule > .right {width: 49%;float: left;margin-left: 10px;}
#graph_rep #left_container #left {float: left;width: 49%;}
#graph_rep #left_container #left > div {width: 90%;}
#graph_rep #left_container #right {float: left;width: 49%;margin-left: 5px;}
#graph_rep #left_container #right > div {width: 90%;}
#graph_rep #right_container {float: right;width: 33%;margin-right: 15px;}
#graph_rep #right_column_container {float: right;width: 33%;}
#graph_rep #left_column_container {float: left;width: 33%;margin-right: 4px;}
#graph_rep .panel {box-shadow: 3px 3px 15px #bbb;margin-bottom: 30px;padding: 10px;}
#graph_rep .supermodule {border-top: 6px solid #0092cf;}
#graph_rep .featured_restaurant {border-top: 6px solid #ff6e01;}
#graph_rep .superdeals {border-top: 6px solid #0092cf;}
/*#graph_rep .search_trends {border-top: 6px solid #0079ae;}
*/
#graph_rep .generic {border-top: 6px solid #ec0028;}
#graph_rep .generic_green {border-top: 6px solid #6bb836;}
#graph_rep .generic_pink {border-top: 6px solid #e0477f;}
#graph_rep .panel h3 {color: #000;font-weight: bold;font-size: 16pt;}
#graph_rep .panel a.inline:hover {text-decoration: underline;}
/* ----- colorbox version styling ----- */
#form div.checkboxInput{padding-left:110px;overflow:hidden;margin:7px 0px 15px 5px;}
#form input.checkbox{float:left;margin-right:5px;}
#main_container input.btnLogin{margin-left:110px;}
#main_container p.intro{margin-left:10px;}
.action_top a.button{margin:5px 0px 0px 10px;}
/* ----- calendar ----- */
.calendar-trigger
{
  background:url(../images/sprite.png) no-repeat -85px 0;
  cursor:pointer;
  display:inline-block;
  height:16px;
  margin-left:5px;
  vertical-align:middle;
  text-indent:-999em;
  width:15px;
}

div.calendar{position:relative;z-index:30;}
div.calendar, div.calendar table{border:1px solid #556;font-size:11px;color:#000;cursor:default;background:#fafbfc;font-family:tahoma,verdana,sans-serif;z-index:99999;}
div.calendar .button{ /* "<<", "<", ">", ">>" buttons have this class */
text-align:center; /* They are the navigation buttons */
padding:2px;/* Make the buttons seem like they're pressing */
}
.admin-frontend-preview .calendar-trigger  {
	display:inline-block;
	margin-top:0;
	float:inherit;
}
.admin-frontend-preview  input[type="button"] {
	display:inline-block;
	margin-left:10px;
}
div.calendar .nav{background:#467aa7;}
div.calendar thead .title{font-weight:bold;/* Pressing it will take you to the current date */
text-align:center;background:#fff;color:#000;padding:2px;}
 /* This holds the current "month, year" */
div.calendar thead .headrow{background:#467aa7;color:#fff;}
 /* Row <TR> containing navigation buttons */
div.calendar thead .daynames{background:#bdf;}
 /* Row <TR> containing the day names */
div.calendar thead .name{border-bottom:1px solid #556;padding:2px;text-align:center;color:#000;}
 /* Cells <TD> containing the day names */
div.calendar thead .weekend{color:#a66;}
 /* How a weekend day name shows in header */
div.calendar thead .hilite{background-color:#80b0da;color:#000;padding:1px;}
 /* How do the buttons in header appear when hover */
div.calendar thead .active{background-color:#77c;padding:2px 0px 0px 2px;}
 /* Active (pressed) buttons in header */
/* The body part -- contains all the days in month. */
div.calendar tbody .day{width:2em;color:#456;text-align:right;padding:2px 4px 2px 2px;}
 /* Cells <TD> containing month days dates */
div.calendar tbody .day.othermonth{font-size:80%;color:#bbb;}
div.calendar tbody .day.othermonth.oweekend{color:#fbb;}
div.calendar table .wn{padding:2px 3px 2px 2px;border-right:1px solid #000;background:#bdf;}
div.calendar tbody .rowhilite td{background:#def;}
div.calendar tbody .rowhilite td.wn{background:#80b0da;}
div.calendar tbody td.hilite{background:#80b0da;}
 /* Hovered cells <TD> */
div.calendar tbody td.active{background:#cde;padding:2px 2px 0px 2px;}
 /* Active (pressed) cells <TD> */
div.calendar tbody td.selected{font-weight:bold;border:1px solid #000;padding:1px 3px 1px 1px;background:#fff;color:#000;}
 /* Cell showing today date */
div.calendar tbody td.weekend{color:#a66;}
 /* Cells showing weekend days */
div.calendar tbody td.today{font-weight:bold;color:#f00;}
 /* Cell showing selected date */
div.calendar tbody .disabled{color:#999;}
div.calendar tbody .emptycell{visibility:hidden;}
 /* Empty cells (the best is to hide them) */
div.calendar tbody .emptyrow{display:none;}
 /* Empty row (some months need less than 6 rows) */
/* The footer part -- status bar and "Close" button */
div.calendar tfoot .footrow{text-align:center;background:#556;color:#fff;}
 /* The <TR> in footer (only one right now) */
div.calendar tfoot .ttip{background:#fff;color:#445;border-top:1px solid #556;padding:1px;}
 /* Tooltip (status bar) cell <TD> */
div.calendar tfoot .hilite{background:#aaf;border:1px solid #04f;color:#000;padding:1px;}
 /* Hover style for buttons in footer */
div.calendar tfoot .active{background:#77c;padding:2px 0px 0px 2px;}
 /* Active (pressed) style for buttons in footer */
div.calendar .combo{position:absolute;display:none;top:0px;left:0px;width:4em;cursor:default;border:1px solid #655;background:#def;color:#000;font-size:90%;z-index:100;}
div.calendar .combo .label,div.calendar .combo .label-IEfix{text-align:center;padding:1px;}
div.calendar .combo .label-IEfix{width:4em;}
div.calendar .combo .hilite{background:#acf;}
div.calendar .combo .active{border-top:1px solid #46a;border-bottom:1px solid #46a;background:#eef;font-weight:bold;}
div.calendar td.time{border-top:1px solid #000;padding:1px 0px;text-align:center;background-color:#f4f0e8;}
div.calendar td.time .hour,div.calendar td.time .minute,div.calendar td.time .ampm{padding:0px 3px 0px 4px;border:1px solid #889;font-weight:bold;background-color:#fff;}
div.calendar td.time .ampm{text-align:center;}
div.calendar td.time .colon{padding:0px 2px 0px 3px;font-weight:bold;}
div.calendar td.time span.hilite{border-color:#000;background-color:#667;color:#fff;}
div.calendar td.time span.active{border-color:#f00;background-color:#000;color:#0f0;}


.list .item .title a{font-weight:bold;}
.list .item .cuisine{font-weight:bold;}
.generic_form input.checkbox{margin-top:5px;border:none;}

/* ie7 */
.ie7 .generic_form span.error{width:70%;}

.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mt10{margin-top:10px!important}
.mb20{margin-bottom:20px!important}
.mt20{margin-top:20px!important}

.pb10{padding-bottom:10px!important}
.pb20{padding-bottom:20px!important}

.pl55{padding-left:55px}
.pl10{padding-left:10px!important}
.pl20{padding-left:20px!important}
.pl30{padding-left:30px!important}

.red{color:#f00}

.alignCenter{text-align:center}
.clear{clear: both;}

.data_table{width:100%}
.data_table th, .data_table td{border:1px solid #fff;padding: 5px 10px;}
.data_table th{background:#000;color:#fff}
.data_table td{background:#efeeee}
.data_table .odd td{background:#d5d4d3;}

.generic_form .main_form input[type="text"]{width:94%}
.generic_form .main_form .error{padding-left:0;top:-5px;position:relative;}
.generic_form .main_form i{font-size:12px}
.generic_form .main_form label{display: inline;float:none;}
.generic_form .promotion{display:none;}
.generic_form .main_form input[type="submit"]{display: inline;}
.readonly{background:#f2f2f2}

.previewBoxWrap{background: url(../images/box_bottom.jpg) no-repeat 0 bottom;text-align:center;margin:0 auto!important;width:320px;}
.previewBox{background: url(../images/box_top.jpg) no-repeat 0 0;color:#fff;font-size:14px;margin:0!important;padding:20px 10px 25px;}
.previewBox h4{font-size:19px;padding-bottom: 20px;}
.previewBox p{padding: 0;}
.previewBox a{background: url(../images/btn.png) no-repeat 0 0;color:#fff;font-size:15px;line-height:35px;display:inline-block;height:33px;width:100px;margin-top:20px;}
.previewBox a:hover{cursor:default;text-decoration:none;}
.ui-datepicker-trigger{cursor:pointer;padding:4px 0 0 5px;}
.main_form input[type="submit"]{display: inline;}
.main_form input[type="button"]{display: inline;}

.labelSelect select{height:24px;width:145px;}
.pointer{cursor:pointer;}

/*Alert*/

.fade.in {
	opacity: 1;
	filter: alpha(opacity=100);
}

.fade {
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.close:hover, .close:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.4;
	filter: alpha(opacity=40);
}
button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}
.close {
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.alert-success {
  color: #007700;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #007700;
}

.alert-danger,
.alert-error {
  color: #c00;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #c00;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

.preview
{
  margin: 0 auto;
  width: 1100px;
  overflow: hidden;
}

.preview-date-time
{
  padding-bottom: 15px;
  overflow: hidden;
  margin: 0 auto;
  width: 970px;
  position: relative;
  z-index: 10;
}

.preview label, .preview input
{
  float:left;
}

.preview label{padding-top: 5px;}

.preview input[type="text"]
{
  border: 1px solid #b0b0b0;
  height: 24px;
  padding: 0 5px;
  margin: 0 5px;
}

.preview .submit
{
  clear: none;
  margin-left: 0;
}

.preview iframe
{
  overflow-x:hidden;
  overflow-y:auto;
}

.upload_photo_container h3
{
  color:#088fc9;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.upload_photo_container .select_file
{
  padding: 20px 0 0;
}

.upload_photo_container .uploaded_url
{
  
}

.upload_photo_container .upload_btn_list
{
  padding-top: 20px;
}

.upload_photo_container .upload_btn_list input[type='submit'],
.upload_photo_container .upload_btn_list a
{
  display: inline-block;
  margin-left: 0;
  vertical-align: middle;
}

.generic_form .mce-panel, .generic_form .mce-panel *{margin: 0;}

.sub-label
{
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 15px;
  padding-left: 50px;
}

.sub-label .label{padding-right:20px;}

.admin-mod
{
  background-color: #c9c9c9;
  margin-bottom: 20px;
  padding:20px 10px;
  text-align: center;
}

.admin-space-wrap
{
  background: url(../images/bg.gif) repeat-y 0 0;
  margin-bottom: 20px;
}

.admin-space-wrap .data_SPONSOR_MASTHEAD{display: none;}

.admin-left-space
{
  float:left;
  margin-bottom: 0;
  width: 610px;
}

#sortable-left,
#sortable-full,
#sortable-bottom
{
  margin: 0 auto;
  width:300px;
}

.admin-right-space
{
  background-color: #c9c9c9;
  float:right;
  margin-bottom: 0;
  min-height: 230px;
  width: 280px;
}

.admin-section
{
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  background-color: #eee;
  cursor: move;
  margin-bottom:20px;
  padding: 10px;
  text-align: center;
}

.admin-right-space .specify li .entry{width:145px;}

.admin-section .title{font-weight: bold;}

.admin-section input[type='button'],
.admin-section a.button,
.admin-section button{padding: 2px 10px;}

.specify
{
  margin-top: 10px;
  text-align: left;
}

.specify li{padding-bottom: 5px;}

.specify li .label
{
  float:left;
  text-align: right;
  padding-right: 10px;
  width: 105px;
}

.specify li .entry
{
  float:right;
  width: 165px;
}

.specify li input[type="text"],
.specify li input[type="url"],
.specify li textarea,
.specify li select
{
  width: 96%;
}

.title-x
{
  font-weight: bold;
  font-size: 14pt;
}

.title_m{color:#0092cf;font-size:12pt;font-weight:bold}

.add-module .generic_form{padding:20px 0 0 20px}
.add-module .generic_form .label{width:60px}
.add-module .generic_form .control{margin-left:65px}

.confirm
{
  padding-top: 20px;
  text-align: center;
}

.navi
{
  background-color: #eee;
  margin-bottom: 20px;
  overflow: hidden;
}
.navi li{float:left;}
.navi li a
{
  color:#666;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
}

.navi li a:hover,
.navi li a.active
{
  background-color: #fff;
  color:#000;
  text-decoration: none;
}

.population-wrap{overflow: hidden;}
.population-layout
{
  float:left;
  text-align: center;
  width: 350px;
}

.population-layout .hd,
.population-layout .ft
{
  background-color: #eee;
  border-bottom:1px solid #fff;
  border-right:1px solid #fff;
  height:80px;
  line-height: 80px;
  overflow: hidden;
}

.population-layout .hd .mod,
.population-layout .ft .mod{float:left;}

.population-layout .bd
{
  min-height: 400px;
  overflow: hidden;
}
  
.population-layout .bd .left
{
  float:left;
  width: 200px;
    min-height: 100px;
}

.population-layout .bd .right
{
  float:left;
  width: 149px;
}

.population-layout .mod
{
  background-color: #eee;
  border-bottom:1px solid #fff;
  border-right:1px solid #fff;
  overflow: hidden;
  padding: 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis
}

.population-layout .module_active{background-color:#ddd;}

.population-layout .module_active a
{
  color:#d00;
  text-decoration: underline;
}

.population-layout .submit-pane
{
  margin-top:20px;
  text-align: left;
}

.population-entry
{
  float:right;
  width: 580px;
}

.population_content_detail .fieldset_container{margin: 10px 0;}
.population_content_detail .fieldset_container .list{margin:0;padding:0}

.ranking
{
  cursor: pointer;
  font-size: 8pt;
  float:left;
  margin-left: 10px;
}

.list.custom-page .ranking {
  min-width: 70px;
}
.edit_ranking
{
  color:#0092cf;
  cursor: pointer;
}

.ranking_entry
{
  clear: both;
  display: none;
  overflow: hidden;
  padding-left: 90px;
}

.ranking_value{width:440px;}

.ranking_entry input[type='submit'],
.ranking_entry input[type='button'],
.ranking_entry a.button,
.ranking_entry button{padding: 2px 10px;}

.filter
{
  padding: 10px 0;
}

.control-group-other
{
  line-height: 24px;
  margin-bottom: 5px;
  min-height: 24px;
  position: relative;
}

.control-group-other .label-other
{
  display: block;
  line-height: 24px;
  width: 90px;
  position: absolute;
  left: 0;
  top: 0;
}

.control-group-other .control-other{margin-left: 100px;}
.control-group-other .control-other select
{
  height: 24px;
  max-width: 860px;
  overflow: hidden;
}

.left-pane{float:left}
.inline{display: inline;}

.colorbox-wrap{display:none}

.clearfix,
.admin-space-wrap,
.specify li,
.control-group-other
{
  *zoom:1;
}

.clearfix:before,
.clearfix:after,
.admin-space-wrap:before,
.admin-space-wrap:after,
.specify li:before,
.specify li:after,
.control-group-other:before,
.control-group-other:after
{
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after,
.admin-space-wrap:after,
.specify li:after,
.control-group-other:after
{
  clear: both;
}
.back_content_list{
    text-align: right;
}
.back_content_list a:hover{
    text-decoration: none;
}