@charset "utf-8";
/* # Reset 'Browser standard style'
---------------------------------------------------------------------------- */
/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.3.0
build: 3167
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;vertical-align:baseline;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{font-size:100%;}legend{color:#000;}

/* # General Elements
---------------------------------------------------------------------------- */
a{color:#034B8A;outline:none;text-decoration:none;}a:hover{color:#56B7EF;}
.clearfix{zoom:1;}.clearfix:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden;}

/* # body
---------------------------------------------------------------------------- */
body{background:#f4f4f4;color:#666;font-family:arial,helvetica,sans-serif;font-size:12px;line-height:1.5;}

/* # layout
---------------------------------------------------------------------------- */
div#layout{margin:0 auto;width:960px;}

/* # header
---------------------------------------------------------------------------- */
div#header{clear:both;}
.topSection a{color:#FFF;font-weight:bold;}
.topSection a:hover{text-decoration:underline;}
.topSection{background:url(../images/bo_sprite.png) no-repeat 0 -928px;height:72px;margin:5px 0 10px 0;}
.topSection #logo{display:inline;float:left;line-height:2.7em;font-size:23px;padding:0 0 0 15px;}
.topSection #logo a:hover{text-decoration:none;}
.topSection .logout{display:inline;float:right;padding:25px 15px 0 0;}
.topSection .logout li{color:#FFF;display:inline;float:left;padding:0 0 0 7px;}
.topSection .logout li a{background:url(../images/bo_sprite.png) no-repeat;color:#FFF;font-weight:bold;line-height:1;padding:0 7px 0 17px;}
.topSection .logout li.logoutAccount a{background-position:0 -131px;}
.topSection .logout li.configuration a{background-position:0 -376px;}
.topSection .logout li.cpanel a{background-position:0 -542px;}

.navi{clear:both;background:#015fb7!important;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;padding-left:5px;}
.navi li{color:#FFF;display:inline;float:left;}
.navi li a{border-right:1px solid #C3CEDF;color:#FFF;display:block;font-size:13px;font-weight:bold;padding:5px 10px 5px;}
.navi li.last a{border-right:none;}
.navi li a:hover,
.navi li a.active{background:#56B7EF;text-decoration:none;}

.pageTitle{background:#FFF;border:1px solid #CCC;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;color:#0B55C4;clear:both;font-size:22px;font-weight:bold;margin:5px 0;line-height:48px;padding:7px 0 7px 15px;}
.pageTitle img{display:inline;float:left;margin-right:10px;}

.breadcrumb{clear:both;padding-left:15px;}
.breadcrumb li{display:inline;float:left;font-size:11px;padding:5px 5px 0 0;}
.breadcrumb li a{font-size:11px;padding:0 5px 0 0;}

/* # content
---------------------------------------------------------------------------- */
div#content{clear:both;}

/* # footer
---------------------------------------------------------------------------- */
div#footer{background:#015fb7!important;border-radius:5px;clear:both;color:#FFF;-moz-border-radius:5px;-webkit-border-radius:5px;padding:5px 5px 5px 15px;margin:10px 0;}

/* # common classes
---------------------------------------------------------------------------- */
.normal{font-weight:normal!important;}
.floatLeft{float:left;}
.floatRight{float:right;}
.alignLeft{text-align:left!important;}
.alignCenter{text-align:center!important;}
.alignRight{text-align:right!important;}
em{color:#FF0000;}
.alert{color:#FF0000;clear:both;font-size:11px;}
.invalidError{color:#dc3631;font-size:11px;}
.clear{clear:both;}
strong{font-weight:bold;}
input,textarea{color:#000;}
select{border:1px solid #CCC;}
input:focus,textarea:focus{background:#fffbe4;border:1px solid #CCC;}
input.sizeBb{height:16px;width:709px;border:1px solid #CCC;padding:3px;}
input.sizeB{height:16px;width:250px;border:1px solid #CCC;padding:3px;}
input.sizeS{height:16px;width:150px;border:1px solid #CCC;padding:3px;}
input.sizeSs{height:16px;width:105px;border:1px solid #CCC;padding:3px;}
input.sizeTs{height:16px;width:50px;border:1px solid #CCC;padding:3px;}
textarea{border:1px solid #CCC;overflow:auto;height:100px;width:250px;padding:3px;}
.file{height:23px;width:190px;}

.title_m
{
  color:#0B55C4;
  font-size: 17px;  
}

input.button{background:url(../images/bo_sprite.png) no-repeat 0 -27px;border:none;font-weight:bold;height:26px;text-align:left;margin-top:10px;padding:0 0 0 15px;width:87px;}
input.button:hover{color:#56B7EF;cursor:pointer;}
.box{background:#FFF;border:1px solid #C3CEDF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;padding:10px;margin-top:10px;}
.section{border:1px solid #CCC;}
.section .shead{background:#F2F2F2;border-bottom:1px solid #CCC;color:#0B55C4;font-size:13px;font-weight:bold;padding:5px;}

.red{color:#D4330A;font-weight:bold;}
.green{color:#6bb836}
.blue{color:#0000FF;font-weight:bold;}
.oliu{color:#978140;}
.fadeGrey{color:#666;}
.fadeBlue{background:#EFF8FF;border:1px solid #C4E3FF;padding:5px 0 5px 10px;}
.fadeYellow{background:#FFF9D7;border:1px solid #E2C822;padding:5px 0 5px 10px;}

.dealList{margin:10px 0 0 0;width:100%;}
.dealList th,
.dealList td{border:1px solid #CCC;padding:5px;text-align:center;vertical-align:middle;}
.dealList th{background:#eae9e9;color:#000;font-weight:bold;}
.dealList td img{vertical-align:bottom;}
.dealList td.preview div{overflow:hidden;margin-right:-3px;text-align:center;white-space:nowrap;}
.dealList td.preview a{background:url(../images/bo_sprite.png) no-repeat -16px -64px;font-weight:bold;float:left;margin-right:3px;display:block;color:#286af2;width:26px;font-size:11px;text-align:center;}
.dealList td.preview a span{line-height:14px;display:block;margin-top:2px;}

.w20{width:20px!important;}
.w40{width:40px!important;}
.w50{width:50px!important;}
.w60{width:60px!important;}
.w70{width:70px!important;}
.w80{width:80px!important;}
.w90{width:90px!important;}
.w100{width:100px!important;}
.w120{width:120px!important;}
.w130{width:130px!important;}
.w140{width:140px!important;}
.w160{width:160px!important;}
.w180{width:180px!important;}
.w200{width:200px!important;}
.w220{width:220px!important;}
.w240{width:240px!important;}
.w260{width:260px!important;}
.w280{width:280px!important;}
.w300{width:300px!important;}
.w709{width:709px!important;}

.dealList .item .type{background:url(../images/bo_sprite.png) no-repeat;line-height:1;margin-top:5px;padding:0 0 0 13px;text-align:left;}
.dealList .item p.red{background-position:0 -56px;}
.dealList .item p.green{background-position:0 -80px;}
.dealList .item p.blue{background-position:0 -107px;}

.checkList
{
  display: inline-block;
  margin-bottom: 5px;
  padding-right: 20px;
}

.checkList input
{
  display: inline;
  float:left;
  margin: 2px 5px 0 0;
}

.divide
{
  background: #ddd;
  height: 1px;
  margin-bottom: 0;
}

.channelItem
{
  border-top:1px solid #ddd;
  clear: both;
  padding-top: 15px;
  overflow: hidden;
}

.channelList .channelItem:first-child a{display: none!important;}

ul.option,
.shareOption ul{clear:both;padding:0 0 5px 0;margin-right:-10px;}

ul.option li,
.shareOption ul li{float:left;padding:0 10px 5px 0;}
.shareOption ul li{width:90px;}

ul.option li label,
ul.option li input,
.shareOption ul li label,
.shareOption ul li input{display:inline;float:left;border:none;}

ul.option li label,
.shareOption ul li label{padding-left:5px;}
.shareOption ul li label{width:65px;}
ul.option li.title{background:url(../images/bo_sprite.png) no-repeat 0 -302px;font-weight:bold;line-height:1.2;padding:0 10px 2px 17px;}
.choose{background:#EFF8FF;border:1px solid #C4E3FF;padding:5px 0 0 10px!important;}

.operate ul{float:right;}
.operate ul li{float:left;padding-left:5px;}
.operate ul li a{display:block;}
.operate p.sort{float:right!important;padding-left:10px;}

.resultNumber{float:left;padding-top:5px;}
.paper{float:right;padding-top:5px;}
.paper li{float:left;padding:0 3px 0 0;}
.paper li a{background:#EFF8FF;border:1px solid #C4E3FF;display:block;float:left;padding:0 5px 0 5px;}
.paper li a.first{background:#FFF url(../images/bo_sprite.png) no-repeat 0 -403px;border:none;height:11px;width:13px;text-indent:-9999px;margin-top:4px;padding:0;}
.paper li a.prev{background:#FFF url(../images/bo_sprite.png) no-repeat 0 -426px;border:none;height:11px;width:11px;text-indent:-9999px;margin-top:4px;padding:0;}
.paper li a.next{background:#FFF url(../images/bo_sprite.png) no-repeat 0 -447px;border:none;height:11px;width:11px;text-indent:-9999px;margin-top:4px;padding:0;}
.paper li a.end{background:#FFF url(../images/bo_sprite.png) no-repeat 0 -468px;border:none;height:11px;width:13px;text-indent:-9999px;margin-top:4px;padding:0;}
.paper li a.current{background:#FFF;color:#000;}

.access{padding:10px 0 10px 10px;}
.access fieldset{display:inline;float:left;border:1px solid #CCC;margin-right:10px;min-height:160px;padding:5px 0 5px 5px;width:150px;}
.access fieldset.w170{width:170px;}
.access fieldset.w180{width:180px;}
.access fieldset.w190{width:190px;}
.access legend{background:#ebeae4;border:1px solid #CCC;color:#666;font-weight:bold;padding:3px 2px;}
.access fieldset input{border:none;}
.access fieldset ul{padding:5px 0 0 5px;}
.access fieldset ul li{padding-bottom:5px;}
.access fieldset ul li label{padding-left:3px;}
.fieldStyle{display:inline;float:left;border:1px solid #CCC;margin-right:10px;padding:5px 10px;width:195px;}
.fieldStyle label{padding-left:5px;}
.fieldStyle legend{color:#0B55C4;font-weight:bold;}
.otherFieldStyle{margin-right:0!important;padding:5px 10px;width:411px;}

ul.buttonList{clear:both;padding:15px 0 0 0;text-align:center;}
ul.buttonList li{display:inline-block;}
*:first-child + html ul.buttonList li{display:inline;margin-right:3px;}

a.button{background:#CBE9FF;border:1px solid #A8CDE8;border-radius:3px;padding:2px 8px 1px;text-align:center;vertical-align:middle;}
*:first-child + html a.button{display:block;padding:0px 8px 1px;}
ul.agree{clear:both;padding-top:20px;}
ul.agree li{display:inline;float:left;padding-right:15px;}
ul.agree li .button{margin-top:0;}
ul.agree li a{color:#000;}
ul.agree li a:hover{color:#56B7EF;}
ul.agree li a{font-weight:bold;height:21px;background:url(../images/bo_sprite.png) no-repeat 0 -27px;display:block;padding:5px 0 0 8px;width:77px;}
ul.agree li .otherStyle{background:url(../images/bo_sprite.png) no-repeat -100px -27px;width:93px;}
.middleImg img{vertical-align:middle;}

ul.otherAgree li{margin-bottom:10px;}
ul.otherAgree li a{height:26px;background:url(../images/bg_button_right.png) no-repeat right 0;display:block;padding:0 23px 0 0px;width:auto;}
ul.otherAgree li a span{background:url(../images/bg_button_left.png) no-repeat left 0;display:block;padding:5px 5px 0 15px;height:21px;}

.p10{padding:10px!important}
.pt10{padding-top:10px!important;}
.pb10{padding-bottom:10px!important;}
.pl10{padding-left:10px!important;}
.pr10{padding-right:10px!important;}
.pt20{padding-top:20px!important;}
.pb20{padding-bottom:20px!important;}
.pl20{padding-left:20px!important;}
.pr20{padding-right:20px!important;}
.pt0{padding-top:0!important;}
.pb0{padding-bottom:0!important;}
.pl0{padding-left:0!important;}
.pr0{padding-right:0!important;}

.m10{margin:10px!important;}
.mt0{margin-top:0!important;}
.mt10{margin-top:10px!important;}
.mb10{margin-bottom:10px!important;}
.ml10{margin-left:10px!important;}
.mr10{margin-right:10px!important;}
.mt20{margin-top:20px!important;}
.mb20{margin-bottom:20px!important;}
.ml20{margin-left:20px!important;}
.mr20{margin-right:20px!important;}
.mt0{margin-top:0!important;}
.mb0{margin-bottom:0!important;}
.ml0{margin-left:0!important;}
.mr0{margin-right:0!important;}

/* category list */
.categoryList .categoryName{text-align:left;padding-left:12px;}
.categoryList span{padding-left:18px;background:url(../images/ico_main_category.png) left 4px no-repeat;display:block;}
.dealList .subCat td{border-bottom:none;border-top:none;padding-top:0px;}
.categoryList .subCat span{padding-left:14px;background:url(../images/ico_sub_category.png) left 5px no-repeat;margin-left:18px;}
.categoryList .mainCat td{border-bottom:none;}
.categoryList{border-bottom: 1px solid #ccc;}

/* # tab
---------------------------------------------------------------------------- */
ul.tabs {overflow:hidden;}
ul.tabs li{float:left;padding-right:3px;}
ul.tabs a{background:#2397d8;border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;-webkit-border-radius:6px 6px 0 0;color:#fff;display:block;font-size:13px;font-weight:bold;padding:5px 10px;text-align:center;}
ul.tabs a:active{outline:none;}
ul.tabs a:hover{background:#56B7EF;cursor:pointer;}
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {background:#56B7EF;cursor:pointer;}
.pane{background:#FFF;border:1px solid #c3cedf!important;clear:both;padding:10px;}
.panes .pane{display:none;}

#explore-nav{clear:both;}
#explore-nav li{float:left;}
#explore-nav li a{background:#2397d8;border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;-webkit-border-radius:6px 6px 0 0;color:#fff;display:block;font-size:13px;font-weight:bold;padding:5px 10px;text-align:center;}
#explore-nav li a:hover{background:#56B7EF;cursor:pointer;}
#tab02,#tab03,#tab04,#tab05,#tab06,#tab07,#tab08,#tab09,#tab10{display:none;}
#explore-nav li{padding-right:3px;}
#explore-nav li a.current{background:#56B7EF;}

.explore-nav{clear:both;}
.explore-nav li{float:left;}
.explore-nav li a{background:#2397d8;border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;-webkit-border-radius:6px 6px 0 0;color:#fff;display:block;font-size:13px;font-weight:bold;padding:5px 10px;text-align:center;}
.explore-nav li a:hover{background:#56B7EF;cursor:pointer;}
.tab02,#tab03,#tab04,#tab05,#tab06,#tab07,#tab08,#tab09,#tab10{display:none;}
.explore-nav li{padding-right:3px;}
.explore-nav li a.current{background:#56B7EF;}

#tabContent{background:#FFF;border:1px solid #C3CEDF;clear:both;padding:10px;}
h3.shead{clear:both;font-size:17px;}
h3.red{border-bottom:1px solid #D4330A;}
h3.green{border-bottom:1px solid #46843A;}
h3.blue{border-bottom:1px solid #0E437C;}
.success{background:#C3D2E5 url(../images/bo_sprite.png) no-repeat 5px -173px;border-top:3px solid #84A7DB;border-bottom:3px solid #84A7DB;color:#0055BB;clear:both;font-weight:bold;padding:10px 10px 10px 35px;margin-top:10px;}
.error{background:#E6C0C0 url(../images/bo_sprite.png) no-repeat -970px -100px;border-top:3px solid #DE7A7B;border-bottom:3px solid #DE7A7B;color:#CC0000;clear:both;font-weight:bold;padding:10px 10px 10px 35px;margin-top:10px;}
#tabContent .detail{padding:0;}
#tabContent dl.detailList dd{width:320px;}
#tabContent dl.detailList dd textarea{height:155px;}
.moreInfo span{float:left;width:135px;}
.moreInfo textarea{color:#969494;float:left;height:300px;width:700px;}
.readonly{background:#f5f5f5;color:#777;}
.detail{padding: 20px 0 0 0;}
.detail li{float:left;width:50%;}
.detail li ul.option li{width:80px;}
.detail li ul.option li label{width:60px;}
.checkBoxStyle{clear:both;}
.checkBoxStyle input,
.checkBoxStyle label{float:left;}
.checkBoxStyle input{margin:3px 2px 0 0;width:18px;}
*:first-child + html .checkBoxStyle input{margin:0px 2px 0 0;}
.checkBoxStyle label{width:250px;}

dl.detailList dt{clear:both;display:inline;float:left;width:125px;margin-bottom:10px;padding-right:10px;}
dl.detailList dt.title{color:#0B55C4;font-weight:bold;width:50%;}
dl.detailList dd{display:inline;float:left;margin-bottom:10px;width:280px;}
dl.detailList dd.title{width:0;}
dl.detailList dd input{display:inline;float:left;}
dl.detailList dd p.browse{float:left;width:180px;}
dl.detailList dd p.browse input[type="file"]{width:160px;}
dl.detailList dd p.browse span{overflow:hidden;}
dl.detailList dd p.browse span input,
dl.detailList dd p.browse span label{float:left;margin-top:3px;}
dl.detailList dd p.browse span input{clear:both;margin:7px 5px 0 0;}
dl.detailList dd p.thumb{float:right;margin-right:-54px;width:90px;}
dl.detailList dd p.thumb img{height:68px;width:90px;margin-bottom:5px;}
dl.detailList dt.oneCulmn{width:440px;}
dl.detailList dd.oneCulmn{width:10px;}
dl.detailList dt.comment{font-style:italic;}
dl.optimaze{width:500px;}
dl.otherOptimaze{width:600px;}
dl.otherOptimaze dt{width:200px;}

dl.topup dt{width:180px;}
.detail li.first dl{padding-left:11px;}
.detail li.first dl.detailList dd{width:290px;}
 .breakdown{word-wrap:break-word!important;overflow:hidden;width:140px;}

/* # tooltip
---------------------------------------------------------------------------- */
.stickytooltip{box-shadow:2px 2px 4px #818181;-webkit-box-shadow:2px 2px 4px #818181;-moz-box-shadow:2px 2px 4px #818181;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;display:none;position:absolute;display:none;background:#FFF;z-index:3000;border:1px solid #4ab4ff;padding:10px;}
.atip span.title{color:#56B7EF;font-weight:bold;}

/* # panel page
---------------------------------------------------------------------------- */
.cpanel{padding:20px 0 5px 35px;}
.cpanel ul li{display:inline;float:left;padding:0 15px 15px 0;}
.cpanel ul li a{background:#F9F9F9;border:1px solid #ececec;color:#666;display:block;text-align:center;padding:15px 0 0 0;height:100px;width:130px;}
.cpanel ul li a:hover{background:#fdfdfd;border:1px solid #d6d5d5;}
.cpanel ul li a span{display:block;padding-top:5px;}

/* # login page
---------------------------------------------------------------------------- */
div.loginBox{background:#E9F0F7;border:1px solid #C3CEDF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin:50px auto 0 auto;padding:20px;width:400px;}
div.loginBox h2{color:#024D8E;font-size:20px;font-weight:bold;text-align:center;}
div.loginBox h2 span{background:url(../images/lock.gif) no-repeat 0 0;padding-left:20px}
div.loginBox ul.login{margin:20px 0 0 60px;}
div.loginBox ul.login li{clear:both;padding-bottom:10px;}
div.loginBox ul.login li label{display:inline;float:left;padding-top:0px;width:80px;}
div.loginBox ul.login li input{display:inline;float:left;}
div.loginBox ul.login li select{width:200px;}
div.loginBox ul.login li.invalidError{padding-left:80px;padding-bottom:10px;margin-top:-8px}
div.loginBox ul.login li.invalid{padding-left:40px}
div.loginBox ul.option{padding:0 0 0 140px;}
div.loginBox ul.option li{float:none;padding:0 0 5px 0;}
div.loginBox ul.submit{clear:both;padding-top:10px;text-align:center;}
div.loginBox ul.submit li{display:inline;padding:0 5px;}

/* # account page
---------------------------------------------------------------------------- */
.reduceNumber{color:#a4a3a3;clear:both;font-size:11px;}
.otherDetailList{padding:20px 0 0 0;}
*:first-child + html .otherDetailList{padding:20px 0 10px 0;}
.otherDetailList dt{padding-right:10px;width:150px!important;}
.otherDetailList dd{width:750px!important;}
.otherDetailList .checkButton{background:#CBE9FF;border:1px solid #A8CDE8;border-radius:3px;color:#034B8A;cursor:pointer;display: block;height:24px;padding:0px 8px 1px;margin-left:10px;text-align:center;vertical-align:middle;}
.otherDetailList .checkButton:hover{color:#56B7EF;}
.otherDetailList .inputError{border:1px solid #FF0000;}
.otherDetailList .errorAvail{color:#FF0000;float:left;font-size:11px;padding:4px 0 0 5px;}
.otherDetailList .successAvail{color:#46843A;float:left;font-size:11px;padding:4px 0 0 5px;}

/* # configuration page
---------------------------------------------------------------------------- */
.configure{width:450px!important;}
.configure .name{text-align:left;width:200px;}
.configure input.sizeTs{width:200px;}
.dummyLayout{clear:both;}
.dummyLayout ul.layout li{background:#FFF9D7;border:1px solid #E2C822;height:160px;margin-bottom:10px;padding:10px;position:relative;}
.dummyLayout ul.layout li.left{float:left;width:590px;}
.dummyLayout ul.layout li dl{position:absolute;left:10px;top:10px;}
.dummyLayout ul.layout li dl dt{clear:both;font-weight:bold;float:left;width:80px;}
.dummyLayout ul.layout li dl dd{float:left;}
.dummyLayout ul.layout li.left dl dd{width:490px;}
.dummyLayout ul.layout li.right{float:right;width:320px;}
.dummyLayout ul.layout li.right dl dd{width:220px;}
.dummyLayout ul.layout li.left,
.dummyLayout ul.layout li.right{background:none;border:none;height:auto;margin-bottom:0;padding:0;position:inherit;}
.dummyLayout ul li p.position{clear:both;color:#0B55C4;font-size:22px;font-weight:bold;padding:90px 0 0 0;text-align:center;}
.dummyLayout ul.act{position:absolute;right:10px;bottom:10px;}
.dummyLayout ul.act li{background:none;border:none;float:left;height:auto;margin-bottom:0;padding:0 0 0 5px;}
.dummyLayout ul.act li span{float:left;padding-right:5px;}
.dummyLayout ul.act li input{height:11px;}

.global .fieldStyle{width:895px;}

.other ul.layout{margin-right:-60px;overflow:hidden;}
.other ul.layout li{display:inline;float:left;}
.other ul.layout li.main{margin-right:12px;width:283px;}
.other ul.layout li.main dl dd{width:200px;}

/* # coupon list page
---------------------------------------------------------------------------- */
.actionPage{overflow:hidden;margin-bottom:5px;}
.actionPage .blockSearch{float:left;width:615px;}
.actionPage .blockSearch select{width:85px;}
.actionPage .blockSearch input{color:#969494;float:left;margin:10px 5px 0 0;}
.actionPage .blockSearch input.sizeM{width:185px!important;height:16px;padding:3px;}
.actionPage .blockSearch input.sizeS{width:130px;}
.actionPage .blockSearch input.sizeSs{width:115px!important;}
.actionPage .blockSearch input.txtCouponSerial{width:119px;}
.actionPage .blockSearch input.txtUserMobile_EmailHistory{width:104px;}
.actionPage .blockSearch input.txtUserEmail_EmailHistory{width:125px;}
.actionPage .blockSearch select{float:left;height:24px;margin:10px 5px 0 0;padding-top:2px;}
.actionPage .blockSearch input.button {color:#000;margin-top:9px; margin-right: 0px;}
.actionPage .blockSearch input.button:hover{color:#56B7EF;}
.actionPage .operate{float:right;width:320px;margin-top:10px;}
.otherActionPage .blockSearch{float:left;width:520px;}
.otherActionPage .blockSearch select{width:93px;}
.otherActionPage .operate{width:400px;}

.dealActionPage .blockSearch,
.dealActionPage .operate{width:937px;}
.dealActionPage .blockSearch .sizeTs{width:110px;}
.dealActionPage .calendar-trigger{margin:14px 5px 0 0px;}

.paymentActionPage .blockSearch{width:650px;}
.couponActionPage .blockSearch{width:675px;}
.couponActionPage .operate{width:260px;}
.frmEmailSearch input.button{background-position:0 -27px;padding-left:11px;}
.dealList td span.status{display:block;text-indent:-10000px;background:url(../images/bo_sprite.png) no-repeat; margin:0px auto;}
.dealList td span.successStatus{background-position:0px -595px;width:11px;height:11px;}
.dealList td span.errorStatus{background-position:0px -623px;width:16px;height:16px;}

.frmEmailSearch input.sizeS {color: #969494;}
.frmEmailSearch input.button {background-position: 0 -27px; padding-left: 11px;}
.dealList td span.successStatus {color: #46843A;}
.dealList td span.cancelledStatus {color: #D4330A;}
.dealList td span.refundedStatus {color: #0E437C;}

/* # report page
---------------------------------------------------------------------------- */
.calendarStyle{margin:0 0 10px 0;}
.calendarStyle dt{clear:both;float:left;padding:0 10px 5px 0;width:130px;}
.calendarStyle dt.oneLine{clear:none;}
.calendarStyle dd.oneLine{width:220px;}
.calendarStyle dd{float:left;padding:0 0 5px 0;width:780px;}
.calendarStyle dd input{float:left;}
.calendarStyle dd span{float:left;padding-right:5px;}
.calendarStyle dd select{float:left;width:600px;height:23px;vertical-align:middle;line-height:20px;margin-right:5px;}
.calendarStyle dd select.selectCity{width:auto;}
.calendarStyle dd p.agree{float:left;}
p.otherAgree .button{display:block;float:left;margin-right:5px;}

/* # frmEditUser
---------------------------------------------------------------------------- */
.frmEditUser select {width: 114px;}
.frmEditUser .balanceInfo {font-weight: bold; color: #D4330A;}
.frmEditUser .tips {line-height: 22px;}
.mobileInfo {width: 106px; }
.frmEditUser .clear .button {margin-left: 0px;}

/* errorBlock
---------------------------------------------------------------------------- */
.errorBlock{background:url(../images/error.png) no-repeat; padding-left:57px;line-height:50px; margin-top: 15px;min-height:50px;padding-top: 10px;}
.errorBlock li {font-size: 14px;line-height:1.8em;margin-bottom:3px;}
.pageNotFoundErr {background:url(../images/404error.png) no-repeat;min-height:50px;padding-left:58px;margin-top: 15px;}
.pageNotFoundErr li {font-size:14px; line-height: 1.8em;}

/* # overlay
---------------------------------------------------------------------------- */
#overlay{background:url(../images/blank.gif);width:670px;}
.apple_overlay .close{background:url(../images/close.png) no-repeat 0 0;cursor:pointer;height:16px;position:absolute;right:15px;top:15px;width:16px;}

.accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  position: relative;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.accordion-group .delete
{
  color:#333;
  position: absolute;
  top:10px;
  right:10px;
}

.accordion-heading {
  border-bottom: 0;
}
.accordion-toggle {
  color: #034B8A;
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding: 8px 15px;
  overflow: hidden;
}

.accordion-toggle:hover {
  color: #56B7EF;  
}

.accordion-toggle:hover span{color:#333}

.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #ddd;
}

.accordionWrap dl.detailList dd{width:770px;}
.accordionWrap dl.detailList dd:last-child{margin-bottom: 0;}

/* # clearfix
---------------------------------------------------------------------------- */
.cpanel,
.pageTitle h2,
div.loginBox ul.login li,
ul.option,
ul.option li,
.shareOption ul,
.shareOption ul li,
.topSection,
.box,
.logout,
#mainMenu,
.navi,
.breadcrumb,
#explore-nav,
.detail,
#tabContent,
.otherDetailLis,
dl.detailList,
dl.detailList dd,
.operate,
.operate ul,
.paper,
.access,
.agree,
.moreInfo,
.calendarStyle,
.popup .resultBox,
.dummyLayout,
.dummyLayout ul.layout li,
.dummyLayout ul.act{zoom:1;}

.cpanel:after,
.pageTitle h2:after,
div.loginBox ul.login li:after,
ul.option:after,
ul.option li:after,
.shareOption ul:after,
.shareOption ul li:after,
.topSection:after,
.box:after,
.logout:after,
#mainMenu:after,
.navi:after,
.breadcrumb:after,
#explore-nav:after,
.detail:after,
#tabContent:after,
.otherDetailLis:after,
dl.detailList:after,
dl.detailList dd:after,
.operate:after,
.operate ul:after,
.paper:after,
.access:after,
.agree:after,
.moreInfo:after,
.calendarStyle:after,
.popup .resultBox:after,
.dummyLayout:after,
.dummyLayout ul li.layout:after,
.dummyLayout ul.act:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden;}

.clearfix{zoom:1;}
.clearfix:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden;}
