{% extends "::base.html.twig" %}

{% block title %}inSingFrontendBundle:MovieShowtimes:searchResult{% endblock %}

{% block body %}
<h1>Welcome to the MovieShowtimes:searchResult page</h1>
{% endblock %}
