{% extends 'inSingAdminBundle::layout.html.twig' %}
{% block title %}Hgw{% endblock %}

{% block body %}
    <div class="filter" data->
        <form id="filter_form" action="" method="GET" enctype="multipart/form-data">
            <div class="control-group-other">
                <label class="label-other">Filter:</label>
                <div class="control-other">
                    <select id="filter_list" name="hgw_filter" data-url="{{ hgw_filter }}">
                        <option value="all">All content</option>
                        <option value="scheduled">Scheduled</option>
                        <option value="published">Published</option>
                        <option value="expired">Expired</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <fieldset>
        <legend class="legend">HGW Content List</legend>
        <div class="legend_icons">
            <div class="icon" title="Add New">
                <div class="add">
                    <a href="{{ url('in_sing_admin_hgw_add_new') }}">
                        <span>Add</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="fieldset_container">
            {% include "inSingAdminBundle::message.html.twig" %}

            <div class="list">
                {% if hgws is not empty %}
                    <table width="100%">
                        <tr bgcolor="yellow" style="font-weight: bold; font-size: 14px">
                            <th width="60%">Content Title</th>
                            <th width="15%">Status</th>
                            <th width="15%">Content Type</th>
                            <th width="10%">Slot</th>
                            <th width="10%"></th>
                        </tr>
                        {% for item in hgws %}
                            <tr>
                                <td>
                                    {{ item['title'] }}
                                </td>
                                <td>
                                    {{ item['status'] }}
                                </td>
                                <td>
                                    {{ item['content_type'] }}
                                </td>
                                <td>
                                    <a href="{{ url('in_sing_admin_hgw_edit', {'id': item['id']}) }}" title="{{ item['slot'] }}">
                                        Slot {{ item['slot'] }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('in_sing_admin_hgw_delete', {'id' : item['id']}) }}" onclick="return confirm('Are you sure you want to delete this item?');" >
                                        <i class="delete_icon" title="Delete this item"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    There is no result
                {% endif %}
            </div>

            {{ knp_pagination_render(pager) }}
        </div>
    </fieldset>
{% endblock %}

{% block bottom_javascripts %}
    {% javascripts output = 'bundles/insingadmin/js/*.js' '@inSingAdminBundle/Resources/public/js/hgw.js' %}

    <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}
{% endblock %}