<header id="page-header" class="clearfix">
    <div class="header hidden-xs">
        <a class="logo" href="{{ path('insing_frontend_homepage') }}" title="{{ getParameter('insing_frontend_home_page_title') }}">
            <i class="icon icon-logo"></i>
        </a>
    </div>
    <div class="search-nav hidden-xs">
        <a href="javascript:;" class="link-search" title="search">
            <i class="icon icon-search-nav"></i>
        </a>
    </div>
    <div class="search-container" id="search-header">
        <div class="overlay"></div>
        <div class="container">
            <a href="javascript:void(0)" class="search-overlay-close">
                <i class="icon icon-search-close">CLOSE</i>
            </a>
            <div class="search-panel">
                <div class="search-header">
                    <i class="icon icon-search"></i>
                    <input type="text" class="input-search input-search-key"  placeholder="Type and hit enter" disabled>
                </div>
                <!-- list autocomplete -->
                <div class="autoComplete-search" >

                </div>
                <div class="search-body">
                    <!-- activity -->
                    <div class="activity-search" >
                        <h3 class="os-extrabold-ts title-wrap">WHAT TO DO TODAY?</h3>
                        <div class="dropdown" id="activity-search">
                            <div class="dropdown-head">
                                <span class="value">Select An Activity</span>
                                <i class="icon icon-arrow-down"></i>
                            </div>
                            <div class="dropdown-container">
                                <div class="dropdown-container-inner">
                                    <div class="nano nano-dropdown">
                                        <div class="overthrow nano-content">
                                            <input id="activity"  type="hidden" name="activity" value="">
                                            <ul>
                                                <li data-value="movies">Watch a movie</li>
                                                <li data-value="events">Visit a Event</li>
                                                <li data-value="hungrygowhere">Book a Table</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- dining -->
                    <div id="hungrygowhere-search-wrapper" class="search-wrapper hgw-search">
                       <!-- dropdown Cuisine -->
                        <div class="dropdown">
                            <div class="dropdown-head">
                                <span class="value">Select a Cuisine</span>
                                <i class="icon icon-arrow-down"></i>
                            </div>
                            <div class="dropdown-container">
                                <div class="dropdown-container-inner">
                                    <div class="nano nano-dropdown">
                                        <div class="overthrow nano-content">
                                            <input class="hgw_cuisine" type="hidden" name="hgw_cuisine" value="">
                                            <ul>{% for item in hgw_cuisine %}<li data-value="{{ item.id }}">{{ item.name }}</li>{% endfor %}</ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- dropdown Neighborhood  -->
                        <div class="dropdown">
                            <div class="dropdown-head">
                                <span class="value">Select a Neighborhood</span>
                                <i class="icon icon-arrow-down"></i>
                            </div>
                            <div class="dropdown-container">
                                <div class="dropdown-container-inner">
                                    <div class="nano nano-dropdown">
                                        <div class="overthrow nano-content">
                                            <input class="hgw_neighborhood" type="hidden" name="hgw_neighborhood" value="">
                                            <ul>{% for item in hgw_neighborhood %}<li data-value="{{ item.sector }}">{{ item.name }}</li>{% endfor %}</ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action">
                            <a href="javascript:void(0)" class="link-go button-corner-cut">
                                <span>GO</span>
                            </a>
                        </div>
                    </div>
                    <!-- event -->
                    <div id="events-search-wrapper" class=" search-wrapper event-search">
                        <!-- dropdown checklist-->
                        <div class="dropdown dropdown-checklist">
                            <div class="dropdown-head">
                                <span class="value">All Events</span>
                                <i class="icon icon-arrow-down"></i>
                            </div>
                            <div class="dropdown-container">
                                <input type="hidden" class="event_category" name="event_category[]" value="">
                                <div class="dropdown-caption">EVENT TYPES</div>
                                <div class="list checklist-green">
                                    {% for item in event_category %}
                                        <div class="item">
                                            <label class="iCheckbox">
                                                <input type="checkbox" name="" id="{{ item.url_fragment }}" value="{{ item.url_fragment }}"> {{ item.name }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- dropdown datepicker-->
                        <div class="dropdown dropdown-datepicker range-select" activity="event-datepicker">
                            <div class="dropdown-head" >
                                <span class="value">Select a Date</span>
                                <input type="text" class="datepicker" readonly="readonly">
                                <input type="hidden" class="fromdate event_date_fromdate" readonly="readonly">
                                <input type="hidden"  class="todate event_date_todate" readonly="readonly">
                                <i class="icon icon-calendar"></i>
                            </div>
                        </div>
                        <div class="action">
                            <a href="javascript:void(0)" class="link-go button-corner-cut">
                                <span>GO</span>
                            </a>
                        </div>
                    </div>
                    <!-- movie -->
                    <div id="movies-search-wrapper" class=" search-wrapper movie-search">
                        <!-- dropdown -->
                        <div class="dropdown">
                            <div class="dropdown-head">
                                <span class="value">Select a Movie</span>
                                <i class="icon icon-arrow-down"></i>
                            </div>
                            <div class="dropdown-container">
                                <div class="dropdown-container-inner">
                                    <div class="nano nano-dropdown">
                                        <div class="overthrow nano-content">
                                            <input type="hidden" name="values[]" value="">
                                            <ul>
                                                {% for item in movies_showtime %}
                                                <li data-value="{{ item }}">{{ item }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- dropdown checklist-->
                        <div class="dropdown dropdown-checklist">
                            <div class="dropdown-head">
                                <span class="value">Select a Date</span>
                                <i class="icon icon-arrow-down"></i>
                            </div>
                            <div class="dropdown-container">
                                <input type="hidden" id="movies_date" name="movies_date[]" value="">
                                <div class="list checklist-green">
                                    {% for item in movies_date %}
                                        <div class="item">
                                            <label class="iCheckbox">
                                                <input type="checkbox" name="" id="{{ item.date }}" value="{{ item.date }}"> {{ item.date_text }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="action">
                            <a href="javascript:void(0)" class="link-go button-corner-cut">
                                <span>GO</span>
                            </a>
                            <input type="hidden" id="event_finder_url_page" value="{{ url('event_finder') }}" />
                            <input type="hidden" id="hgw_finder_url_page" value="{{ hungry_deal_site ~ 'hotdeals'}}" />
                            <input type="hidden" id="movies_finder_url_page" value="" />
                            <input type="hidden" id="new_insing_hgw_input_text" value="{{ getParameter('new_insing_hgw_input_text') }}" />
                            <input type="hidden" id="event_search_autocomplete" value="{{ url('event_search_autocomplete') }}" />
                            <input type="hidden" id="movie_search_autocomplete" value="{{ url('movie_search_autocomplete') }}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile -->
    <div class="header-mobile visible-xs">
        <div class="header-front">
            <a class="logo-mobile" href="{{ path('insing_frontend_homepage') }}" title="{{ getParameter('insing_frontend_home_page_title') }}">
                <i class="icon icon-logo"></i>
            </a>
            <a href="javascript:;" class="link-search-mobile">
                <i class="icon icon-search-nav"></i>
            </a>
        </div>
        <div class="input-search-group hidden">
            <i class="icon icon-search-nav"></i>
            <input type="text" class="input-search-text">
        </div>
        <a href="javascript:;" class="nav-mobile">
            <i class="icon icon-menu"></i>
        </a>
    </div>
    <!-- navbar -->
    <nav class="navbar hidden-xs">
        <ul class="navbar-nav list-unstyled">
            <li class="nav-movies">
                <a href="http://movies.insing.com" title="Movies" >MOVIES</a>
                <ul class="navbar-sub list-unstyled">
                    <li><a href="">Movie News</a></li>
                    <li><a href="">Showtimes</a></li>
                    <li><a href="">Now Showing</a></li>
                    <li><a href="">Coming Soon</a></li>
                    <li><a href="">Singtel TV</a></li>
                    <li><a href="">Trailers</a></li>
                </ul>
            </li>
            <li class="nav-events  ">
                <a href="{{ url('event_finder') }}" title="Events" >EVENTS</a>
            </li>
            <li class="nav-hgw">
                <a href="http://www.hungrygowhere.com" title="HungryGoWhere" ga_click="{{ ga_tracking('Header').HGW|raw }}">HUNGRYGOWHERE</a>
            </li>
        </ul>
        <ul class="social-share list-unstyled">
            <li class="fb">
                <div class="fb-like" data-layout="button" data-href="http://www.facebook.com/insing" data-action="like" data-show-faces="false" data-share="false"></div>
            </li>
            <li class="tw">
                <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="http://www.insing.com" data-lang="en">Tweet</a>
            </li>
            <li class="gl">
                <g:plusone size="medium" annotation="none" href="http://www.insing.com"></g:plusone>
            </li>
        </ul>
        <div class="login-panel">
            {% if app.security.getToken() %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    {% if app.user.getAvatar() %}
                        {% set user_avatar = ' <div class="box"> <img src="' ~ app.user.getAvatar() ~ '" alt="' ~ app.user.getDisplayName() ~ '" width="30" height="30" /> <span class="cell"> HELLO <span class="name">' ~ app.user.getDisplayName() ~ '</span> </span> </div>' %}
                    {% else %}
                        {% set user_avatar = ' <div class="box"> <img src="' ~ asset('bundles/insingfrontend/images/no_avatar_30x30.jpg') ~ '" alt="' ~ app.user.getDisplayName() ~ '" width="30" height="30" /> <span class="cell"> HELLO <span class="name">' ~ app.user.getDisplayName() ~ '</span> </span> </div>' %}
                    {% endif %}

                    {% set hf_profile_inner_html = '<a class="account-info" title="' ~ app.user.getDisplayName() ~ '" href="' ~ app.user.getUrlProfile(insing_profile_url) ~ '">' ~ user_avatar ~ '</a>' %}
                {% else %}
                    {% set hf_profile_inner_html = '<a href="' ~ insing_login_url ~ '">LOGIN/SIGN UP</a>' %}
                {% endif %}
            {% else %}
                {% set hf_profile_inner_html = '<a href="' ~ insing_login_url ~ '">LOGIN/SIGN UP</a>' %}
            {% endif %}
            {{ hf_profile_inner_html | raw }}
        </div>
    </nav>

</header>


