<script type='text/javascript'>	$(document).ready(function (){ {% set gpt_ad_zones = config_info('gpt_ad_zone_homepage') %} {% if not app.request.xmlHttpRequest %} googletag.cmd.push(function() { {% if app.request.get('gpt_keyword') is not empty %}	googletag.pubads().setTargeting('kw',['{{ normal_string(app.request.get('gpt_keyword')) }}']); {% endif %} googletag.pubads().collapseEmptyDivs(); googletag.pubads().enableAsyncRendering(); googletag.enableServices(); }); googletag.cmd.push(function() { {% if is_desktop() %} googletag.display('wallpaper-ads'); {% endif %} }); {% endif %} loadFeaturesGpt('{{ config_info('gpt_ad_zone_homepage') }}'); });
	$(window).on('resize', function(e) {
		if(typeof loadFeaturesGpt == 'function') {
			loadFeaturesGpt('{{ config_info('gpt_ad_zone_homepage') }}');
		}
	});
</script>
