{% extends "inSingFrontendBundle::layout.html.twig" %}
{% block title %}{{ getParameter('insing_frontend_about_us_title') }}{% endblock %}
{% block metaDescription %}{{ getParameter('insing_frontend_about_us_meta_description') }}
{% endblock %}
{% block body %}
    <div id="page-container" class="page-static">
        <div class="wrapper-middle">
            <div class="static">
                <h3 class="title-s-m first">About InSing</h3>
                <h1 class="title-l">About Us</h1>

                <div class="info-container">
                    <p>Be in the know of everything that's happening in Singapore with inSing!</p>
                    <p>Available on both online and mobile platforms, inSing is a one-stop destination that provides all the essential day-to-day information as well as comprehensive up-to-date coverage on local, international and entertainment news, events listings, food reviews and shopping deals.</p>
                    <p>Think of inSing as your gateway to a large searchable database of local businesses, including restaurants, bars and an extensive listing of products and services. These include user generated reviews offering unbiased views that will help you make an informed decision. Navigating for information on what to do, where to go, or which business to engage is easy because you'll have the benefit of other people's experiences. It's like having Singapore at your fingertips.</p>
                </div>

                <div class="info-container">
                    <h3 class="title-s-m">Press Releases and Announcements</h3>
                    <p>Find out what we've been up to here at inSing! If you have any questions, or if you would like to talk to one of the inSing team members, contact our press office at <a href="mailto:press@inSing.com" title="Email press@inSing.com">press@inSing.com</a> and we'll get back to you as soon as possible.</p>
                </div>

                <div class="info-container">
                    <h3 class="title-s-m">Who is Behind inSing?</h3>
                    <p>inSing.com is brought to you by Singtel Digital Media Pte Ltd (STDM), a wholly owned subsidiary of Singtel - Asia's leading communications group. STDM was created with a vision to build a Singapore lifestyle web destination that gives consumers rich and up-to-date content on a daily basis, allowing them to make informed decisions for their everyday needs.</p>
                    <p>Content under the SingNet tab is displayed by inSing.com on behalf of SingNet Pte Ltd. The listing service under Biz &amp; Service Finder is brought to you by Singtel in partnership with inSing.com</p>
                </div>

                <div class="info-container">
                    <h3 class="title-s-m">Guidelines for Contributors</h3>
                    <p>Keen to write for inSing.com - if you feel you have what it takes to engage our users with interesting, current and upbeat editorial around where to shop, where to eat and drink or what to do by day or night - then contact us on <a href="mailto:content@insing.com" title="Email content@insing.com">content@insing.com</a>. Full guidelines on what we're looking for will be provided.</p>
                </div>

                <div class="info-container">
                    <h3 class="title-s-m">Careers</h3>
                    <p>We're hardworking and we love results, but we also love to have fun. Sounds like something you want to be a part of? Join our inSing team now!</p>
                    <p>Email your resume to <a href="mailto:careers@inSing.com" title="Email careers@inSing.com">careers@inSing.com</a> and we'll keep you in mind for future opportunities.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
