{% extends "inSingFrontendBundle::layout.html.twig" %}
{% block title %}{{ getParameter('insing_frontend_disclaimers_title') }}{% endblock %}
{% block metaDescription %}{{ getParameter('insing_frontend_disclaimers_meta_description') }}
{% endblock %}
{% block body %}
<div id="page-container" class="page-disclaimers">
        <div class="static">
            <h3 class="title-s-m first">About InSing</h3>
            <h1 class="title-l">Disclaimers</h1>
            <div class="info-container">
                <h3 class="title-s-m">Reviews Disclaimer</h3>
                <p>Reviews and opinions expressed originate from end users who submitted them and do not reflect those of inSing.com. We accept no responsibility legal or otherwise for their accuracy or substance and you are advised to rely on reviews at your own risk and discretion.</p>
            </div>
            <div class="info-container">
                <h3 class="title-s-m">Trademarks Disclaimer</h3>
                <p>All trademarks remain property of their respective holders, and unless otherwise represented, their display on inSing.com is solely for the purpose of illustrating products, events, and businesses being discussed and in no way should be taken to indicate any relationship, affiliation or sponsorship between the holders of said trademarks and inSing.com.</p>
            </div>
            <div class="info-container">
                <h3 class="title-s-m">Disclaimer for Golden Village &amp; Similar Merchants</h3>
                <p>From time to time as we deem appropriate, we may allow access to or advertise certain third-party product or service providers ("Merchants") from whom you may purchase certain goods or services. Transactions for these goods and services may or may not be concluded on the Site. You understand that we do not operate or control the products or services offered by these Merchants. Merchants are responsible for all aspects of order processing, fulfillment, billing and customer service. We are not a party to the transactions entered into between you and Merchants and will not be held responsible for any rights and obligations between you and the Merchants.</p>
            </div>
        </div>
    </div>
{%  endblock %}
