{% extends "inSingFrontendBundle::layout.html.twig" %}
{% block title %}{{ getParameter('insing_frontend_faq_title') }}{% endblock %}
{% block metaDescription %}{{ getParameter('insing_frontend_faq_meta_description') }}
{% endblock %}
{% block body %}
<div id="page-container" class="page-static">
    <div class="wrapper-middle">
        <div class="static">
            <h3 class="title-s-m first">About InSing</h3>
            <h1 class="title-l">Frequently Asked Questions</h1>

            <nav id="faq-nav">
                <ul>
                    <li>
                        <h4><a href="#faq-insing" title="inSing.com">inSing.com</a></h4>
                        <ul>
                            <li><a href="#what-is-insing" title="What is inSing.com?">What is inSing.com?</a></li>
                            <li><a href="#insing-mobile" title="Is it possible to access inSing on-the-go?">Is it possible to access inSing on-the-go?</a></li>
                            <li><a href="#browser-requirments" title="What are the minimum browser requirements I need to view inSing?">What are the minimum browser requirements I need to view inSing?</a></li>
                            <li><a href="#browser-cookies" title="How do I enable cookies on my browser to view inSing?">How do I enable cookies on my browser to view inSing?</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4><a href="#faq-login-registration" title="Login/Registration">Login/Registration</a></h4>
                        <ul>
                            <li><a href="#how-to-signup" title="How do I sign in to inSing?">How do I sign in to inSing?</a></li>
                            <li><a href="#why-signup" title="Why should I sign up with inSing? What are the benefits of being an inSing member?">Why should I sign up with inSing? What are the benefits of being an inSing member?</a></li>
                            <li><a href="#forgot-password" title="What happens if I've forgotten my inSing password?">What happens if I've forgotten my inSing password?</a></li>
                            <li><a href="#change-password" title="How do I change my inSing password?">How do I change my inSing password?</a></li>
                            <li><a href="#facebook-connect" title="What is Facebook Connect?">What is Facebook Connect?</a></li>
                            <li><a href="#create-profile" title="I am an existing inSing account holder, how do I get to my profile page?">I am an existing inSing account holder, how do I get to my profile page?</a></li>
                            <li><a href="#using-facebook-connect" title="What happens when you login to inSing for the first time using Facebook Connect?">What happens when you login to inSing for the first time using Facebook Connect?</a></li>
                            <li><a href="#facebook-change" title="How can I change my Facebook information?">How can I change my Facebook information?</a></li>
                            <li><a href="#disconnect-facebook" title="How can I disconnect my Facebook account with my inSing profile?">How can I disconnect my Facebook account with my inSing profile?</a></li>
                            <li><a href="#how-do-i-delete-cookies-in-my-browser">How do I delete cookies in my browser?</a></li>
                            <li><a href="#i-logged-into-insing-and-prompted-to-enter-new-email-address">I logged into inSing.com and I am prompted to enter a new email address to replace my username. Why do I have to do this?</a></li>
                            <li><a href="#entered-valid-email-address-but-i-didnt-receive-verification-email">I have entered a valid email address but I didn't receive the verification email.</a></li>
                            <li><a href="#registered-for-an-insing-account-but-didnt-get-email-verification-email">I have registered for a inSing.com account but I didn't get the email verification in my mailbox.</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4><a href="#merge-accounts" title="Merge Accounts">Merge Accounts</a></h4>
                        <ul>
                            <li><a href="#what-is-an-insing-account">What is an inSing.com account?</a></li>
                            <li><a href="#what-is-a-hungrygowhere-account">What is a HungryGoWhere account?</a></li>
                            <li><a href="#what-happens-to-my-hungrygowhere-account">What happens to my HungryGoWhere Account?</a></li>
                            <li><a href="#what-can-i-do-with-an-insing-account">What can i do with an inSing.com account?</a></li>
                            <li><a href="#what-do-i-need-to-provide-to-sign-up-for-an-insing-account">What do I need to provide to sign up for an inSing.com account?</a></li>
                            <li><a href="#why-do-i-need-to-merge-my-hungrygowhere-account-with-an-insing-account">Why do I need to merge my HungryGoWhere account with an inSing.com account?</a></li>
                            <li><a href="#why-cant-you-merge-my-accont-for-me">Why can't you merge my account for me?</a></li>
                            <li><a href="#how-do-i-merge-my-hungrygowhere-account-with-my-insing-account">How do I merge my HungryGoWhere account with my inSing.com account?</a></li>
                            <li><a href="#what-should-i-expect-when-merging-accounts">What should I expect when merging my accounts?</a></li>
                            <li><a href="#what-happens-after-i-merge-my-account">What happens after I merge my account?</a></li>
                            <li><a href="#can-i-still-log-in-with-both-login-ids-after-merging">Can I still log in with both login IDs after merging?</a></li>
                            <li><a href="#can-i-choose-which-login-id-i-would-like-to-keep">Can I choose which login ID I would like to keep?</a></li>
                            <li><a href="#why-does-the-merging-system-ask-me-to-unlink-my-secondary-facebook-account">Why does the merging system ask me to unlink my secondary Facebook account?</a></li>
                            <li><a href="#an-error-occurred-when-i-tried-to-merge-my-accounts">An error occurred when I tried to merge my accounts, what do I do now?</a></li>
                            <li><a href="#merge-entered-valid-email-address-but-i-didnt-receive-verification-email">I have entered a valid email address but I didn't receive the verification email.</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4><a href="#my-insing-profile" title="My inSing Profile">My inSing Profile</a></h4>
                        <ul>
                            <li><a href="#faq-profile" title="What is inSing profile?">What is inSing profile?</a></li>
                            <li><a href="#faq-username" title="What is the difference between display name and username?">What is the difference between display name and username?</a></li>
                            <li><a href="#faq-bookmarks" title="What are bookmarks?">What are bookmarks?</a></li>
                            <li><a href="#faq-follow" title="How do I follow or not follow people?">How do I follow or not follow people?</a></li>
                            <li><a href="#like-event-article" title="How do I like an article or event?">How do I like an article or event?</a></li>
                            <li><a href="#profile-picture" title="How can I change my profile picture?">How can I change my profile picture?</a></li>
                            <li><a href="#faq-star-reviewer" title="How can I be a star reviewer?">How can I be a star reviewer?</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4><a href="#faq-homepage" title="Homepage">Homepage</a></h4>
                        <ul>
                            <li><a href="#insing-bookmark" title="How do I set inSing as my homepage?">How do I set inSing as my homepage?</a></li>
                            <li><a href="#insing-identification" title="How does inSing know who I am when I visit the site?">How does inSing know who I am when I visit the site?</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4><a href="#faq-search" title="Search">Search</a></h4>
                        <ul>
                            <li><a href="#insing-content" title="What kind of content can I expect to find on inSing?">What kind of content can I expect to find on inSing?</a></li>
                            <li><a href="#insing-business" title="How do I find a business on inSing?">How do I find a business on inSing?</a></li>
                            <li><a href="#insing-article" title="How do I find an article on inSing?">How do I find an article on inSing?</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4><a href="#faq-email" title="Email">Email</a></h4>
                        <ul>
                            <li><a href="#insing-email" title="How do I access my inSing email?">How do I access my inSing email?</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4><a href="#faq-reviews" title="Reviews">Reviews</a></h4>
                        <ul>
                            <li><a href="#what-are-reviews" title="What's the user review function all about?">What's the user review function all about?</a></li>
                            <li><a href="#member-to-review" title="Do I need to be a member to submit a review?">Do I need to be a member to submit a review?</a></li>
                            <li><a href="#review-guide" title="How do I write a review?">How do I write a review?</a></li>
                            <li><a href="#review-permission" title="What am I allowed to write?">What am I allowed to write?</a></li>
                            <li><a href="#positive-reviews" title="Will inSing only accept positive reviews?">Will inSing only accept positive reviews?</a></li>
                            <li><a href="#review-friends-business" title="Can I review my friend or family's business?">Can I review my friend or family's business?</a></li>
                            <li><a href="#moderate-reviews" title="Does inSing moderate reviews?">Does inSing moderate reviews?</a></li>
                            <li><a href="#review-unlisted-business" title="I want to review a business but it's not listed.">I want to review a business but it's not listed.</a></li>
                            <li><a href="#faq-report-review" title="">How do I report inappropriate reviews?</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4><a href="#faq-business-search" title="Biz &amp; Service Finder">Biz &amp; Service Finder</a></h4>
                        <ul>
                            <li><a href="#list-business" title="How can I have my business listed on inSing?">How can I have my business listed on inSing?</a></li>
                            <li><a href="#update-business" title="How do I update my business details?">How do I update my business details?</a></li>
                            <li><a href="#remove-business" title="How can I have my business details removed?">How can I have my business details removed?</a></li>
                            <li><a href="#how-to-advertise" title="How do I advertise in Biz &amp; Service Finder?">How do I advertise in Biz &amp; Service Finder?</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4><a href="#faq-singnet" title="SingNet">SingNet</a></h4>
                        <ul>
                            <li><a href="#singnet-homepage" title="What is the fastest way to access the SingNet homepage?">What is the fastest way to access the SingNet homepage?</a></li>
                            <li><a href="#singnet-email" title="Can I check my SingNet email with my inSing email account?">Can I check my SingNet email with my inSing email account?</a></li>
                            <li><a href="#cant-access-singnet" title="Can I still access all the SingNet functions like My Communicator?">Can I still access all the SingNet functions like My Communicator?</a></li>
                            <li><a href="#cant-find-singnet" title="I can't find the SingNet homepage when I surf to www.inSing.com! Where is it?">I can't find the SingNet homepage when I surf to www.inSing.com! Where is it?</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4><a href="#photo-submission" title="Photo submission guidelines">Photo submission guidelines</a></h4>
                        <ul>
                            <li><a href="#family-friendly" title="Family-friendly">Family-friendly</a></li>
                            <li><a href="#original" title="Original">Original</a></li>
                            <li><a href="#relevant" title="Relevant">Relevant</a></li>
                            <li><a href="#non-commercial" title="Non-commercial">Non-commercial</a></li>
                            <li><a href="#file-properties" title="File properties">File properties</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <div class="info-container">
                <div id="faq-insing" class="fix-anchor"><h3 class="title-s-m">inSing.com</h3></div>
                <dl class="faq">
                    <dt id="what-is-insing">What is inSing.com?</dt>
                    <dd>
                        <p>inSing.com is Singapore's definitive local search and lifestyle guide. It's the first place to visit for the latest reviews and recommendations on food &amp; drink, movies, events, shopping and all the services in your life. Whether you need to search for the nearest dry cleaner, the best new restaurant, an upcoming concert or a reliable contractor, InSing.com will guide you to make your life easier.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="insing-mobile">Is it possible to access inSing on-the-go?</dt>
                    <dd>
                        <p>Any mobile handset with data access can surf inSing. Data charges apply for mobile usage, so check with your service provider for rates. To access our site via your handset, simply go to www.insing.com on your mobile browser.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="browser-requirments">What are the minimum browser requirements I need to view inSing?</dt>
                    <dd>
                        <p>The best browsers to use for inSing are the latest versions of Firefox and Internet Explorer.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="browser-cookies">How do I enable cookies on my browser to view inSing?</dt>
                    <dd>
                        <p>Make sure you have enabled your cookies to optimize your browsing on inSing by following the simple steps below:</p>

                        <h5>Internet Explorer</h5>
                        <ol>
                            <li>From the "Tools" menu, select 'Internet Options'</li>
                            <li>Under the "Privacy" tab, click on the "Sites" button</li>
                            <li>Under the "Address of website" type <strong>www.insing.com</strong> and click on the "Allow" button</li>
                            <li>Click OK
                                <img src="http://static.insing.com/45.0.3/assets/pc/static/img/ss-Cookies1.png" alt="Internet Explorer - Per site privacy options">
                            </li>
                        </ol>

                        <h5>Firefox</h5>

                        <ol>
                            <li>From the "Tools" menu, select 'Internet Options'</li>
                            <li>Under the "Privacy" tab, under the Firefox will: section select "Use Custom settings for history"
                                <img src="http://static.insing.com/45.0.3/assets/pc/static/img/ss-Cookies2.png" alt="Firefox - Options">
                            </li>
                            <li>Ensure the "Accept cookies from sites" checkbox is checked</li>
                            <li>Click on the "Exceptions" button and add <strong>www.insing.com</strong> and click the "Allow" button
                                <img src="http://static.insing.com/45.0.3/assets/pc/static/img/ss-Cookies3.png" alt="Firefox - Options - Cookies - Add exception"></li>
                            <li>Click OK</li>
                        </ol>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>
                </dl>

                <div id="faq-login-registration" class="fix-anchor"><h3 class="title-s-m">Login/Registration</h3></div>
                <dl class="faq">
                    <dt id="how-to-signup">How do I sign in to inSing?</dt>
                    <dd>
                        <p>After you register and activate your new account, sign in with your inSing account username and password. Alternatively, sign in using your Facebook account by using the login links available on top right hand corner of each section.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="why-signup">Why should I sign up with inSing? What are the benefits of being an inSing member?</dt>
                    <dd>
                        <p>You'll also be part of an exciting community where you can share your reviews on any business found on inSing plus participate in contests and promotions exclusive to inSing members. If you don't have an inSing account, you can create one now.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="forgot-password">What happens if I've forgotten my inSing password?</dt>
                    <dd>
                        <p><a href="https://accounts.insing.com/forgotPassword.do" title="Click here to reset password">Click here</a> to reset your password using the Forgotten Password feature. Simply enter your inSing User ID to retrieve a new password via email.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="change-password">How do I change my inSing password?</dt>
                    <dd>
                        <p>Change your inSing password using the Change Password page. It's simple - just enter your current password as verification, then enter the new password you'd like to use. If you've forgotten your password, you can reset it using the Forgotten Password feature.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="facebook-connect">What is Facebook Connect?</dt>
                    <dd>
                        <p>Facebook Connect allows you to login to inSing using your Facebook account and password. It means you can now login to inSing without registering for a new account on inSing.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="create-profile">I am an existing inSing account holder, how do I get to my profile page?</dt>
                    <dd>
                        <p>If you have an existing inSing account, you will have a profile page with all your existing reviews. Simply log in to your account to access your profile page.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="using-facebook-connect">What happens when you login to inSing for the first time using Facebook Connect?</dt>
                    <dd>
                        <p>When you click login using Facebook, you will be presented a screen from Facebook to login into your account. If you have logged in to Facebook, you will need to accept an authorization request that allows inSing to post on your Facebook wall. When you post your reviews or like any inSing articles or events, it would also be posted on your Facebook wall.</p>
                        <p>Once you login via Facebook account, you will need to choose a display name and photo to set up your profile page on inSing.</p>
                        <p>There are three ways to set up your profile:</p>
                        <ol>
                            <li>Use Facebook Display Name and Photo</li>
                            <li>Create an inSing Profile Display Name (if you do not wish to use your Facebook Display Name and Photo)</li>
                            <li>Link to an existing inSing Profile Display Name. (if you have an existing inSing account and wish to merge your existing profile with this profile)</li>
                        </ol>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="facebook-change">How can I change my Facebook information?</dt>
                    <dd>
                        <p>You can change your Facebook information via Facebook.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="disconnect-facebook">How can I disconnect my Facebook account with my inSing profile?</dt>
                    <dd>
                        <p>You can disconnect your Facebook account either through Edit Profile page or Facebook.</p>
                        <p>If you do not have an inSing account, you will be prompted to register for an inSing account prior to disconnecting your inSing profile to your Facebook account. If you choose to not create an inSing account and disconnect your inSing profile from your Facebook account, your inSing profile will no longer be in the system.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="how-do-i-delete-cookies-in-my-browser">How do I delete cookies in my browser?</dt>
                    <dd>
                        <ul>
                            <li>Internet Explorer: <a href="http://support.microsoft.com/kb/278835">http://support.microsoft.com/kb/278835</a></li>
                            <li>Chrome: <a href="http://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95647">http://support.google.com/chrome/bin/answer.py?hl=en&amp;answer=95647</a></li>
                            <li>Firefox: <a href="http://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored#w_delete-all-cookies">http://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored#w_delete-all-cookies</a></li>
                        </ul>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="i-logged-into-insing-and-prompted-to-enter-new-email-address">I logged into inSing.com and I am prompted to enter a new email address to replace my username. Why do I have to do this?</dt>
                    <dd>
                        <p>We are upgrading to a more secure membership system for inSing.com. We'll need you to enter a valid email address for your account and this email address will serve as your future login ID. Notifications relating to your account will also be sent to this email address.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="entered-valid-email-address-but-i-didnt-receive-verification-email">I have entered a valid email address but I didn't receive the verification email.</dt>
                    <dd>
                        <p>The 'email verification' email might be sitting in your spambox, please check the spam folder again. Once you received the email, please click on 'Confirm Email' to verify your email address.</p><p>
                        </p><p>If you did not receive the 'email verification' email within an hour, please login to inSing.com again to retrieve the new verification code.</p>
                        <p>Alternatively, please login via your Facebook Connect.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="registered-for-an-insing-account-but-didnt-get-email-verification-email">I have registered for a inSing.com account but I didn't get the email verification in my mailbox.</dt>
                    <dd>
                        <p>The 'email verification' email might be sitting in your spambox, please check the spam folder again. Once you received the email, please click on 'Confirm Email' to verify your email address.</p><p>
                        </p><p>If you did not receive the 'email verification' email within an hour, please login to inSing.com again to retrieve the new verification code.</p>
                        <p>Alternatively, please login via your Facebook Connect.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>
                </dl>

                <div id="merge-accounts" class="fix-anchor"><h3 class="title-s-m">Merge Accounts</h3></div>
                <dl class="faq">
                    <dt id="what-is-an-insing-account">What is an inSing.com account?</dt>
                    <dd>
                        <p>inSing.com uses a centralized account system that lets users login to and conduct transactions/post reviews in all inSing.com channels, including HungryGoWhere.com and SuperDeals, without having to remember multiple sets of login information.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="what-is-a-hungrygowhere-account">What is a HungryGoWhere account?</dt>
                    <dd>
                        <p>A HungryGoWhere account is an account that allows users to sign into to HungryGoWhere.com only. From 4 October 2012, all HungryGoWhere accounts will be converted into inSing.com accounts upon login.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="what-happens-to-my-hungrygowhere-account">What happens to my HungryGoWhere Account?</dt>
                    <dd>
                        <p>Your HungryGoWhere account will be converted to a new inSing.com account, or merged with an existing inSing.com account, upon login.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="what-can-i-do-with-an-insing-account">What can i do with an inSing.com account?</dt>
                    <dd>
                        <p>Users are required to sign into inSing.com to enjoy the site's full range of functionalities. Signing into inSing.com accounts allows you to</p>
                        <ul>
                            <li>post reviews and ratings on HungryGoWhere, Business Search and Movies channel on inSing.com</li>
                            <li>bookmark events, articles and shops</li>
                            <li>comment on reviews and news features</li>
                            <li>be privy to exclusive inSing.com invitations and deals</li>
                            <li>and more, using a single login - just your email address and a password.</li>
                        </ul>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="what-do-i-need-to-provide-to-sign-up-for-an-insing-account">What do I need to provide to sign up for an inSing.com account?</dt>
                    <dd>
                        <p>You will need a valid email address that we can contact you at, a display name you would like to be associated with on inSing.com (a minimum of 6 characters) and provide a password (minimum of 8 characters with at least 2 numbers) for your account.<br>For existing inSIng.com users, we will use your nickname as your display name and require you to provide us with a valid email address, if you haven't already done so.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="why-do-i-need-to-merge-my-hungrygowhere-account-with-an-insing-account">Why do I need to merge my HungryGoWhere account with an inSing.com account?</dt>
                    <dd>
                        <p>As HungryGoWhere moves to be a part of inSing.com, we will be revamping the website and would need your assistance to convert your HungryGoWhere account into aninSing.com account, or merge it with an existing inSing.com account, so your reviews, photos and other great submissions will remain accessible to you in the new website. Your new inSing.com account will also enable you to sign into other parts of inSing.com (events, news, shopping) so you can better explore the best of the rest of Singapore.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="why-cant-you-merge-my-accont-for-me">Why can't you merge my account for me?</dt>
                    <dd>
                        <p>Due to terms in our privacy policy, HungryGoWhere does not, and still will not, store your account password in our database. We can only recognize if the same password is entered (you can read all about this cool function in <a href="http://en.wikipedia.org/wiki/Hash_function">this Wikipedia article</a>) thus would need your help to log into your account and update it with a new inSing.com/HungryGoWhere password.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="how-do-i-merge-my-hungrygowhere-account-with-my-insing-account">How do I merge my HungryGoWhere account with my inSing.com account?</dt>
                    <dd>
                        <p>To merge your accounts, sign into the account you would like to keep and follow the prompts displayed on screen. Rest assured that the process will be secure, guided and only needs to be done once. After the merge, any reviews, bookmarks and photos you previously submitted will automatically be populated under the new inSing.com.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="what-should-i-expect-when-merging-accounts">What should I expect when merging my accounts?</dt>
                    <dd>
                        <p>When merging your accounts, you should expect to submit a new password (minimum of 8 characters with at least 2 numbers) and provide us with a valid email address, if you haven't already done so. This email address should be unique and not be tied to any existing inSing.com or HungryGoWhere account.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="what-happens-after-i-merge-my-account">What happens after I merge my account?</dt>
                    <dd>
                        <p>After merging, the account you signed into first will be your new inSing.com account. All your reviews, bookmarks and photos stored under both accounts will now be stored under your new inSing.com account.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="can-i-still-log-in-with-both-login-ids-after-merging">Can I still log in with both login IDs after merging?</dt>
                    <dd>
                        <p>No, you can only use the login ID you were logged into first for the merging process.<br>e.g. If I have accounts under two email addresses - abc@hgw.com and xyz@singtel.com - and wish to use abc@hgw.com as my login in future, I should sign into my account for abc@hgw.com and follow the steps on screen to merge it with my xyz@singtel.com account.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="can-i-choose-which-login-id-i-would-like-to-keep">Can I choose which login ID I would like to keep?</dt>
                    <dd><p>Yes, you may do so by signing into the account with the login ID you wish to keep, before following the steps on screen to merge it with your secondary account.<br>
                            e.g. If I have accounts under two email addresses - abc@hgw.com and xyz@singtel.com - and wish to use abc@hgw.com as my login in future, I should log into my account forabc@hgw.com and follow the steps on screen to merge it with my xyz@singtel.com account.</p><p class="back"><a href="#page-header">Back to top</a></p></dd>

                    <dt id="why-does-the-merging-system-ask-me-to-unlink-my-secondary-facebook-account">Why does the merging system ask me to unlink my secondary Facebook account?</dt>
                    <dd><p>The new inSIng.com account can only be linked to ONE Facebook account. If you encountered an error saying that the accounts you are trying to merge are linked to two separate Facebook accounts, please cancel the merge process and log out of all accounts. Sign in to the account linked to the Facebook account you DO NOT wish to keep and unlink it from Facebook under the Profile Settings page. Then log out and sign into the account you wish to keep before start the merging process again.</p><p class="back"><a href="#page-header">Back to top</a></p></dd>

                    <dt id="an-error-occurred-when-i-tried-to-merge-my-accounts">An error occurred when I tried to merge my accounts, what do I do now?</dt>
                    <dd><p>If an unexpected error occurred during the merge process, you will be notified on screen to contact us at customercare@insing.com so our team can assist you in the merge process. Do not worry, all your reviews, photos and bookmarks on both accounts will remain intact, and we do apologize for the bump into this otherwise simple merge process.</p><p class="back"><a href="#page-header">Back to top</a></p></dd>

                    <dt id="merge-entered-valid-email-address-but-i-didnt-receive-verification-email">I have entered a valid email address but I didn't receive the verification email.</dt>
                    <dd>
                        <p>The 'email verification' email might be sitting in your spambox, please check the spam folder again. Once you received the email, please click on 'Confirm Email' to verify your email address.</p><p>
                        </p><p>If you did not receive the 'email verification' email within an hour, please login to inSing.com again to retrieve the new verification code.</p>
                        <p>Alternatively, please login via your Facebook Connect.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>
                </dl>

                <div id="my-insing-profile" class="fix-anchor"><h3 class="title-s-m">My inSing Profile</h3></div>
                <dl class="faq">
                    <dt id="faq-profile">What is inSing profile?</dt>
                    <dd>
                        <p>The inSing profile page tells you your account information, the reviews you have submitted and review updates of other users.</p>
                        <p>Your inSing profile also captures the reviews updates from the users that you are following. You can also see the users who are following you and see different content that you have bookmarked across the inSing website.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="faq-username">What is the difference between display name and username?</dt>
                    <dd>
                        <p>inSing username is the ID you use to login to your inSing account. Display name is the name that will appear to other users when you post a review. You can choose to use inSing display name or Facebook display name.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="faq-bookmarks">What are bookmarks?</dt>
                    <dd>
                        <p>You can bookmark content such as business listing, articles, events and movies details on inSing. The bookmark function is available in the share bar at the bottom of each article. You can find a list of your bookmarks in your profile page.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="faq-follow">How do I follow or not follow people?</dt>
                    <dd>
                        <p>If you enjoy reading a user's reviews and wish to be alerted whenever the user submits a review on inSing, click follow. You will receive updates on your profile page on the latest reviews posted by the user you are following. Similarly, another user who likes your reviews can follow you too. There is a follow and unfollow function on each of your user profile.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="like-event-article">How do I like an article or event?</dt>
                    <dd>
                        <p>You can now like an article or event by clicking on the "like" icon. You will be required to login to your inSing account to like an article or event. Each user can only like an article or event once. If you are connected to inSing via Facebook, your Facebook account will be updated when you like an article or event.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="profile-picture">How can I change my profile picture?</dt>
                    <dd>
                        <p>You can upload your own picture to your inSing profile page. Alternatively, if you are Facebook connected, you can use your Facebook photo instead.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="faq-star-reviewer">How can I be a star reviewer?</dt>
                    <dd>
                        <p>To be a star reviewer, you need to share reviews that are helpful to users. The system will compute a score based on the number of reviews submitted, how helpful your reviews to other users, frequency of your reviews on the site and the number of followers you have.  You can be overall inSing star reviewer or be a star reviewer of a particular channel depending on the type of reviews you are posting.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>
                </dl>

                <div id="faq-homepage" class="fix-anchor"><h3 class="title-s-m">Homepage</h3></div>
                <dl class="faq">
                    <dt id="insing-bookmark">How do I set inSing as my homepage?</dt>
                    <dd>
                        <p>Make inSing your home browser page each time you launch your browser by following the simple steps below:</p>

                        <h5>Internet Explorer</h5>
                        <ol>
                            <li>From the "Tools" menu, select 'Internet Options'</li>
                            <li>Under the "General tab" you will see an "Address" line where you can enter the URL</li>
                            <li>Copy or type the URL <a href="http://www.insing.com">http://www.inSing.com</a> into the 'Address' box or, if you're already at inSing web page when you do this, click the 'Use current' button
                                <img src="http://static.insing.com/45.0.3/assets/pc/static/img/internet-options-ie.png" alt="Internet Explorer Internet Options"></li>
                            <li>Click OK</li>
                        </ol>

                        <h5>Firefox</h5>
                        <ol>
                            <li>From the Tools (PC) or Firefox (Mac) menu, select 'Options'</li>
                            <li>Under the "General tab" you will see an "Address" line where you can enter the URL</li>
                            <li>Copy or type the URL <a href="http://www.insing.com">http://www.inSing.com</a> into the 'Address' box or, if you're already at inSing web page when you do this, click the 'Use current' button
                                <img src="http://static.insing.com/45.0.3/assets/pc/static/img/internet-options-ff.png" alt="Firefox Internet Options"></li>
                            <li>Click OK</li>
                        </ol>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="insing-identification">How does inSing know who I am when I visit the site?</dt>
                    <dd>
                        <p>This happens when your User ID and password are saved in a cookie (it happens with all websites), which is stored on your computer. This helps websites access information faster and means you don't have to sign in each and every time you visit the page. If your web browser doesn't support cookies, or you've opted to have the cookies function turned off, then you won't be able to automatically sign in.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>
                </dl>

                <div id="faq-search" class="fix-anchor"><h3 class="title-s-m">Search</h3></div>
                <dl class="faq">
                    <dt id="insing-content">What kind of content can I expect to find on inSing?</dt>
                    <dd>
                        <p>You'll find the most up-to-date local information from food reviews, shopping deals, movie show times, upcoming events and news. You can also locate business or services for all your needs.</p>
                        <p>What you'll also find is a large searchable database of local businesses, restaurants, theatres and clubs, including up-to-date listings of events and promotions all around the island to provide you with the most insightful search in Singapore. We have the knowledge you need to search better, faster and more efficiently.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="insing-business">How do I find a business on inSing?</dt>
                    <dd>
                        <p>Look for the search bar at the top of the site, select the type of content (Business, Food, Events, Movies) you're looking for and enter your keywords.</p>
                        <p>For example, to find information on Japanese restaurants, choose "Food" and enter "Japanese" as the search criteria.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="insing-article">How do I find an article on inSing?</dt>
                    <dd>
                        <p>Look for expert module at the right side of the site; you can search for any inSing articles in the search box.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>
                </dl>

                <div id="faq-email" class="fix-anchor"><h3 class="title-s-m">Email</h3></div>
                <dl class="faq">
                    <dt id="insing-email">How do I access my inSing email?</dt>
                    <dd>
                        <p>We are sorry. This email service is no longer available.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>
                </dl>

                <div id="faq-reviews" class="fix-anchor"><h3 class="title-s-m">Reviews</h3></div>
                <dl class="faq">
                    <dt id="what-are-reviews">What's the user review function all about?</dt>
                    <dd>
                        <p>Reviews are an important part of inSing, as it lets members share their experiences of businesses. People generally prefer to get recommendations about goods and services they're shopping for and this is a great way to get personal recommendations online.</p>
                        <p>Businesses can also benefit from the ratings and reviews system. A good review can help a business stand out from the competition and win customers. Even an average review can help a business learn more about their customers' needs.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="member-to-review">Do I need to be a member to submit a review?</dt>
                    <dd>
                        <p>Yes, you need to be a member and signed in to submit a review. The registration process is quick and simple, just register now to get started or log in using your Facebook Connect!</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="review-guide">How do I write a review?</dt>
                    <dd>
                        <p>First, you need to sign in, then search for the business you want to write about. Doing a search using the business name is the quickest way to find a listing. Just look for the 'Write a Review' button prominently displayed on the page. You'll then be directed to a page where you can write a review and give a rating out of five marks (half marks are allowed). There's a limit of 1,000 characters per review.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="review-permission">What am I allowed to write?</dt>
                    <dd>
                        <p>You can write a review about any business or service that appears on inSing provided that you have actually bought (or tried to buy) something from them or used their services.</p>
                        <p>Here are some things to consider when writing a review:</p>
                        <ul>
                            <li>What did you like? What did you dislike?</li>
                            <li>If the service was recommended to you by someone else, did it meet or exceed your expectations?</li>
                            <li>Would you use the service again and recommend it to others?</li>
                        </ul>
                        <p>All reviews should be first-hand, objective, truthful and offer helpful suggestions.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="positive-reviews">Will inSing only accept positive reviews?</dt>
                    <dd>
                        <p>We realise not all experiences are going to be positive and would like reviews to be balanced. While we do allow negative reviews, we ask that they be truthful and fair. Nothing defamatory or abusive should be posted. Stick to the relevant facts as to why the experience was unsatisfactory. The more details and facts you provide, the more helpful it is to the relevant business and users.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="review-friends-business">Can I review my friend or family's business?</dt>
                    <dd>
                        <p>Yes, as long as you disclose your relationship with the business in the review. Personal and professional connections to a business can understandably alter the reviewer's perspective. By being open and honest about this relationship, you ensure that your review is trustworthy.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="moderate-reviews">Does inSing moderate reviews?</dt>
                    <dd>
                        <p>All reviews submitted to inSing will go through a moderation process. To report offensive, defamatory or derogatory reviews, please email to <a href="mailto:customercare@insing.com" title="Email customercare@insing.com">customercare@insing.com</a>.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="review-unlisted-business">I want to review a business but it's not listed.</dt>
                    <dd>
                        <p>A business has to be listed on inSing to be reviewed. If you can't find a business, email <a href="mailto:bizandservicefinder@insing.com" title="Email bizandservicefinder@insing.com">bizandservicefinder@insing.com</a>.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="faq-report-review">How do I report inappropriate reviews?</dt>
                    <dd>
                        <p>If you see a review that you believe to be untrue, defamatory or inappropriate in any way, email <a href="mailto:customercare@insing.com" title="Email customercare@insing.com">customercare@insing.com</a>.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>
                </dl>

                <div id="faq-business-search" class="fix-anchor"><h3 class="title-s-m">Biz &amp; Service Finder</h3></div>
                <dl class="faq">
                    <dt id="list-business">How can I have my business listed on inSing?</dt>
                    <dd>
                        <p>If your business isn't already in Biz &amp; Service Finder and you'd like to have it listed, email <a href="mailto:bizandservicefinder@insing.com" title="Email bizandservicefinder@insing.com">bizandservicefinder@insing.com</a> and it'll be listed in 3 working days.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="update-business">How do I update my business details?</dt>
                    <dd>
                        <p>If the information for your business is incorrect or has changed, email <a href="mailto:bizandservicefinder@insing.com" title="Email bizandservicefinder@insing.com">bizandservicefinder@insing.com</a>. We'll then update this information in 3 working days.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="remove-business">How can I have my business details removed?</dt>
                    <dd>
                        <p>If you would like your business details to be removed from Biz &amp; Service Finder, email <a href="mailto:bizandservicefinder@insing.com" title="Email bizandservicefinder@insing.com">bizandservicefinder@insing.com</a> and we'll get back to you.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="how-to-advertise">How do I advertise in Biz &amp; Service Finder?</dt>
                    <dd>
                        <p>There are a range of products provided by inSing to help you build your business on the internet. To find out more about what we can do for you, please email <a href="mailto:advertising@insing.com" title="Email advertising@insing.com">advertising@insing.com</a> and we'll get back to you in 3 working days.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>
                </dl>

                <div id="faq-singnet" class="fix-anchor"><h3 class="title-s-m">SingNet</h3></div>
                <dl class="faq">
                    <dt id="singnet-homepage">What is the fastest way to access the SingNet homepage?</dt>
                    <dd>
                        <p>Just visit www.SingNet.com.sg to quickly access the SingNet homepage.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="singnet-email">Can I check my SingNet email with my inSing email account?</dt>
                    <dd>
                        <p>Yes you can. Click here for instructions on how to download mail from other accounts, including your SingNet account using your inSing email account.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="cant-access-singnet">Can I still access all the SingNet functions like My Communicator?</dt>
                    <dd>
                        <p>Yes you can. The link for My Communicator can be found within the Self-Service module on the SingNet homepage. All existing functions offered by SingNet are still available to you.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="cant-find-singnet">I can't find the SingNet homepage when I surf to www.inSing.com! Where is it?</dt>
                    <dd>
                        <p>To access the SingNet homepage directly, head to www.SingNet.com.sg. Once you land on the SingNet homepage, the SingNet tab will automatically appear on your subsequent visits to either inSing or SingNet. All the links to the SingNet homepage can be found at the bottom of inSing webpages.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>
                </dl>

                <div id="photo-submission" class="fix-anchor"><h3 class="title-s-m">Photo submission guidelines</h3></div>
                <p>InSing claims no ownership, affiliation with, or endorsement of any photos that are posted on our site. The truthfulness of all photos and captions is assumed by the user and their validity is not the responsibility of inSing.com. Please note that by uploading photos, you are granting inSing.com the non-exclusive rights to use, copy, re-purpose and display those photos at our discretion.</p>
                <dl class="faq">
                    <dt id="family-friendly">Family-friendly</dt>
                    <dd>
                        <p>No photos, images or material that is vulgar, pornographic, obscene, profane, illegal, offensive, insulting, objectionable or other non-family-friendly content.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="original">Original</dt>
                    <dd>
                        <p>No images from other sources or material published elsewhere. No images that infringe on any copyright, trademark or other legal property right.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="relevant">Relevant</dt>
                    <dd>
                        <p>Please post photos, images or materials that is relevant to the business you are reviewing.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="non-commercial">Non-commercial</dt>
                    <dd>
                        <p>No logos, titles, branding, promotional material or any other content intended for commercial purposes.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>

                    <dt id="file-properties">File properties</dt>
                    <dd>
                        <p>No single photo file may exceed 8MB in size. All photos submitted to the site must be in .gif, .jpg, png or tiff format. Any file that does not meet these requirements will be rejected. All photos uploaded will be displayed in 4:3 proportion.</p>
                        <p class="back"><a href="#page-header">Back to top</a></p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
{% endblock %}



