{% extends "inSingFrontendBundle::layout.html.twig" %}
{% block title %}{{ getParameter('insing_frontend_terms_title') }}{% endblock %}
{% block metaDescription %}{{ getParameter('insing_frontend_terms_meta_description') }}
{% endblock %}
{% block body %}
<div id="page-container" class="page-terms">
        <div class="static">
            <h3 class="title-s-m first">About InSing</h3>
            <h1 class="title-l">Terms of Use</h1>
            <div class="info-container">
                <p>By using any of the websites (each a "Site"), including the inSing.com portal and its search engine (collectively "the Portal"), operated by and/or for and on behalf of Singapore Telecommunications Ltd, Singapore Telecom Mobile Pte Ltd, SingNet Pte Ltd, Singtel Digital Media Pte Ltd and any other related corporation of Singapore Telecommunications Ltd (collectively the "Singtel Group") in any way, you agree to be bound by the following Terms of Use ("Terms"). We may modify these Terms at any time at our sole discretion, and such modifications shall be effective immediately upon posting of the modified Terms. You agree to review the Terms periodically to be aware of such modifications and your continued access to or use of the Site shall be deemed your conclusive acceptance of the modified Terms. The term "Singtel" (or "we", "our" and "us") includes all members, subsidiaries and affiliates of the Singtel Group, their respective subsidiaries and affiliates, as well as their successors and assigns.</p>
                <ol>
                    <li><a href="#registration" title="Registration, Password, Security and Cookies">Registration, Password, Security and Cookies</a></li>
                    <li><a href="#privacy" title="Privacy">Privacy</a></li>
                    <li><a href="#conduct" title="Content and Related User Conduct">Content and Related User Conduct</a></li>
                    <li><a href="#posted-content" title="Content Posted Or Submitted To STDM">Content Posted Or Submitted To STDM</a></li>
                    <li><a href="#swap-place" title="Use of the Swap-Place Service">Use of the Swap-Place Service</a></li>
                    <li><a href="#third-party-postings" title="Postings by Third Parties and Hyperlinks to Third Party Websites">Postings by Third Parties and Hyperlinks to Third Party Websites</a></li>
                    <li><a href="#third-party-links" title="Hyperlinks from Third Party Websites">Hyperlinks from Third Party Websites</a></li>
                    <li><a href="#indemnity" title="Indemnity">Indemnity</a></li>
                    <li><a href="#warranties" title="Disclaimer of Warranties">Disclaimer of Warranties</a></li>
                    <li><a href="#golden-village" title="Disclaimer for Golden Village &amp; Similar Merchants">Disclaimer for Golden Village &amp; Similar Merchants</a></li>
                    <li><a href="#liability" title="Limitation of Liability">Limitation of Liability</a></li>
                    <li><a href="#property-rights" title="Intellectual Property Rights">Intellectual Property Rights</a></li>
                    <li><a href="#general" title="General">General</a></li>
                </ol>
            </div>
            <div class="info-container">
                <div id="registration" class="fix-anchor">
                    <h3 class="title-s-m">1. Registration, Password, Security and Cookies</h3></div>
                <p>If any portion of the Site requires you to register or open an account, you must provide us with accurate, complete and updated registration information ("Member Profile"). You may also be asked to choose a login name and a password. Please select a password that would not be obvious to someone trying to guess your password.</p>
                <p>You shall not disclose to any person your password and shall not permit or authorize any person to use your login name or password for any purpose whatsoever.</p>
                <p>Singtel may treat any access to or use of the Site at any time by the use of your login name and password as access to or use of the Site by you, notwithstanding that it may have been used by any other person without your knowledge or authority.</p>
                <p>Upon learning that any person has acquired knowledge of your password or has used your password to access or use the Site or effect any transaction (whether with or without your knowledge and consent), you shall</p>
                <ul>
                    <li>a. immediately notify Singtel thereof;</li>
                    <li>b. at Singtel's request, make a police report thereof;</li>
                    <li>c. provide Singtel with any other information relating thereto as Singtel may require; and</li>
                    <li>d. immediately change the password.</li>
                </ul>
                <p>Singtel takes certain industry-accepted precautions to secure the Site or portions thereof. However, you agree that such precautions do not guarantee that use of the Site is invulnerable to all security breaches, nor does Singtel make any warranty, guarantee, or representation that use of the Site is protected from all viruses, worms, Trojan horses, and other vulnerabilities.</p>
                <p>During your use of the Site, we may issue to and request from your computer blocks of data known as "cookies" to enable more convenient browsing when you revisit the Site. A cookie is a type of data which is sent from the Site to your Internet browser software, and is stored on your computer. Storing cookies does not have any adverse effect on your computer. You must not alter any cookies sent to your computer from the Site and you must ensure that your computer sends correct and accurate cookies in response to any relevant request from the Site.</p>
                <p>By means of Facebook Connect API, you may log in to the Site using your Facebook account. By accessing the Site using your Facebook account, you authorise us to (i) retrieve the photo image and display name associated with your Facebook account for display on the Member's Profile section of the Site; and (ii) display posts within your Facebook account to reflect any reviews, articles or events you submit to the Site so that your friends on Facebook will be aware of your views. Apart from the 2 activities described above, we do not otherwise retrieve or post any other information or data from or to your Facebook account. Further, we shall not be responsible for any changes to the features, functionality or terms that govern your Facebook account as these are controlled by Facebook, not us.</p>
            </div>
            <div class="info-container">
                <div id="privacy" class="fix-anchor">
                    <h3 class="title-s-m">2. Privacy policy</h3></div>
                <p><strong>1. Acceptance of Policy</strong></p>
                <p>1.1 This privacy policy (“Policy”) applies to your access to and use of the InSing/Hungrygowhere website (the “Site”) or mobile apps (the “App”) operated or provided to you by or for and on behalf of Singtel Digital Media Pte Ltd (“STDM”), which is part of the Singtel Group.</p>
                <p>1.2 You shall be deemed to have agreed to this Policy if you access or use any of the Site or App. If you do not agree to this Policy, you shall not be permitted to and shall not access or use the Site or Appand you must immediately cease any access to or use of the Site or App.</p>
                <p>1.3 STDM may modify this Policy at any time at its sole discretion, and such modifications shall be effective immediately upon posting of the modified terms. Your continued access to or use of the Site or App shall be deemed to be your conclusive acceptance of such modified Policy.</p>
                <p><strong>2. Collection of Your Information</strong></p>
                <p>2.1 When you access or use a Site or App, we may collect the following information:</p>
                <ul>
                    <li>Personal information which is of a personal nature and may be used to identify you as an individual, and provided by you to us, including but not limited to your name, contact number, email address, mailing address and billing information (“Personal Information”).</li>
                    <li>Other information involving you, including but not limited to anonymous statistics, records and other information in relation to your browsing of the Site or App (“Non-Personal Information”).</li>
                </ul>
                <p>2.2 Any information disclosed in the public areas of any Site or App (such as any message board or forum) becomes public information. You should exercise caution when disclosing information this way.</p>
                <p><strong>3. Use of Your Information</strong></p>
                <p>3.1 You agree and acknowledge that we may use your Personal Information and share your Personal Information with any of our affiliated companies for the purposes of:</p>
                <p>Provisioning &amp; administration essential to the operation of the Site or App</p>
                <ul>
                    <li>Providing you with personalised information and recommendations when using the Site or App. The use of your location for recommending nearby restaurants
                    </li>
                    <li>Enable the use of social interaction on our websites or mobile apps – eg allowing you to follow other users, reviewing a restaurant or commenting on a news article</li>
                    <li>Use of your personal data in an <u>anonymised fashion</u> for data analytics to help improve our services</li>
                    <li>Enable us to process bills and payments (eg for billing restaurants for Hungrygowhere table reservations)</li>
                    <li>Respond to enquiries and requests from you or people you have authorised</li>
                    <li>Inform you about service upgrades and updates</li>
                    <li>Inform you of service and security issues</li>
                    <li>Conduct internal audits</li>
                    <li>Meet legal, regulatory and other requirements including providing assistance to law enforcement, judicial and other government agencies</li>
                </ul>
                <p>3.2 Provisioning &amp; administration not essential to the operation of the Site or App</p>
                <p>Non-essential services are services for which you can opt out of. You may opt out of the following non-essential services by logging in with your Insing account and visitng this link: <a href="http://accounts.insing.com/displayProfile.do">http://accounts.insing.com/displayProfile.do</a></p>
                <ul>
                    <li>Provide updates, offers, invitations to events and deliver relevant advertising through voice and SMS with your prior consent or if otherwise permitted under local laws and regulations</li>
                    <li>Offer rewards and promotions, and share promotional benefits and loyalty programs which you may qualify for (including promotions from restaurants that you have placed a booking with through the service)</li>
                    <li>Sharing your personal data with related third parties outside of the Singtel Group for marketing of new products and services you may be interested in</li>
                </ul>
                <p>3.3 By posting any Non-Personal Information on or via any Site or App, or by otherwise providing any Non-Personal Information to STDM (whether electronically or otherwise), you agree and acknowledge that you grant to STDM a non-exclusive, perpetual, irrevocable licence to use, disclose, display, reproduce, perform, distribute and modify such Non-Personal Information in any manner and for any purpose as STDM may deem fit.</p>
                <p><strong>4. Sharing your information</strong></p>
                <p>4.1 We may share your information with:</p>
                <ul>
                    <li>Companies in the Singtel Group</li>
                    <li>Business partners and vendors we work with to deliver services you have subscribed to (including restaurants that you have placed a booking with through the service)</li>
                    <li>Industry regulators and other government organisations, as required by local laws and regulations</li>
                    <li>Financial institutions for purposes such as facilitating GIRO payments</li>
                    <li>Research institutions for market analysis purposes</li>
                </ul>
                <p>4.2 Your information is disclosed to the above only for relevant purposes (please refer to those mentioned in this Policy) or to protect the interests of our customers.</p>
                <p>4.3 In some cases, we encrypt, anonymise and aggregate the information before sharing it. Anonymising means stripping the information of personally identifiable features. Aggregating means presenting the information in groups or segments e.g. age groups.</p>
                <p>4.4 We will also ensure that overseas organisations we work with observe strict confidentiality and data protection obligations.</p>
                <p><strong>5. Protecting your information</strong></p>
                <p>5.1 We have implemented stringent measures to secure and protect your information. These include:</p>
                <ul>
                    <li>Safeguards to prevent security breaches in our network and database systems</li>
                    <li>Limits on access to information in our systems and the systems of our business partners and vendors</li>
                    <li>Strict verification processes to prevent unauthorised access to information</li>
                </ul>
                <p><strong>6. Respecting your contact preferences</strong></p>
                <p>6.1 STDM is committed to complying with the Do Not Call (DNC) provisions. We have always been mindful of engaging our customers in a more targeted and relevant way.</p>
                <p>6.2 We may send marketing messages to your Singapore telephone number if:</p>
                <ul>
                    <li>you have given us consent, OR</li>
                    <li>you have not registered with the national DNC Registry, OR</li>
                    <li>the sending of such messages is permissible under applicable laws and regulations.</li>
                </ul>
                <p>6.3 Our marketing messages aim to update you about our exclusive offers, rewards programme and special deals from our preferred partners and advertisers.</p>
                <p>6.4 If you wish to continue receiving such messages or to opt out, you can indicate your preference at any time by logging into your Insing account and visiting <a href="http://accounts.insing.com/displayProfile.do">http://accounts.insing.com/displayProfile.do</a>.</p>
                <p>Your request will be processed in 30 days.</p>
                <p>You can also opt out of optional news letters you have previouly subscribed to directly from the link at the bottom of the email.</p>
                <p>6.5 Please note that after opting out, you may still continue to receive non-marketing messages, such as product updates and service notices as permitted under applicable local laws and regulations.</p>
                <p><strong>7. Third Party Websites</strong></p>
                <p>7.1 The Site or App may contain hyperlinks to websites which are neither maintained nor controlled by STDM (“Third Party Websites”). You agree and acknowledge that STDM shall not be responsible for the privacy and security practices employed by any Third Party Website, and shall not be liable for any loss or damage of any kind, including any loss or misuse of Personal Information, arising from access to or use of any Third Party Website.</p>
                <p><strong>8. Cookies</strong></p>
                <p>8.1 During your use of a Site or App, we may issue to and request from your computer blocks of data known as “cookies”. A cookie is a small amount of data, which often includes a unique identifier that is sent to your computer or mobile device browser and is stored on your computer or mobile device hard drive. We may use cookies to obtain certain Non-Personal Information, including in relation to your use of the Site or App. If you do not want information collected through the use of cookies, there is a simple procedure in most browsers that allows you to deny or accept the cookies feature.</p>
            </div>
            <div class="info-container">
                <div id="conduct" class="fix-anchor">
                    <h3 class="title-s-m">3. Content and Related User Conduct</h3></div>
                <p>You understand that you are responsible for any Content that you post or transmit on or through the Site.</p>
                <p>You agree not to cause, nor knowingly allow others to cause, any nuisance, annoyance, or inconvenience, whether to Singtel or any of its customers or users of the Site by any means.</p>
                <p>You agree to use the Site in a manner consistent with all applicable laws and regulations. Specifically, you will not use the Site to post, transmit, distribute, link to, or solicit Content that:</p>
                <ul>
                    <li>contains any advertising and promotional message;</li>
                    <li>violates or infringes any laws, regulatory requirements or codes applicable in Singapore;</li>
                    <li>infringes or violates any copyright, trademark or any other intellectual property, personal or proprietary rights of any person, or violates any obligation of confidence or any other proprietary right;</li>
                    <li>contains any obscene, offensive, defamatory or otherwise actionable material;</li>
                    <li>undermines the security or integrity of the Site, including without limitation by importing any viruses, Trojan horses, time bombs or other disabling devices intended to detrimentally interfere, damage, surreptitiously intercept or expropriate such equipment, systems or networks;</li>
                    <li>contains any errors, whether technical or otherwise; or</li>
                    <li>contains any material in any form that would otherwise render Singtel liable or expose Singtel to any proceedings whatsoever.</li>
                </ul>
                <p>You may not use any robot, spider, or other automatic or manual device or process to monitor or copy our web pages or any portion of the Content contained herein without Singtel's express written permission.</p>
                <p>You may not use any device, software or routine to interfere or attempt to interfere with the proper working of the Site, or to impose an unreasonable or disproportionately large load on the servers serving the Site.</p>
                <p>Singtel shall have the right (but not the obligation) in its sole discretion to monitor, refuse or remove any Content that is available via the Site without reference to you. Without limiting the foregoing, Singtel reserves the right to remove or alter any Content that violates these Terms or is otherwise objectionable.</p>
                <p>To assist us with moderation of Content, we have provided You with "report abuse" buttons conveniently positioned on the Site so that you may activate them to inform us of any objectionable Content. Upon receipt of your report, we shall review the relevant abuse report as soon as possible and moderate the Content as we may deem appropriate.</p>
                <p>All Content submitted by you should be unbiased with no vested personal interest or any affiliation with the business you review. We reserve all rights to remove these reviews. If you have a vested personal interest or any affiliation with the business for or against which you are submitting a review, we ask that you give full and frank disclosure of your relevant vested interest or affiliation to the business you are reviewing to ensure your review is perceived objectively by End Users. We reserve the right to remove any reviews we discover that are biased review or which do not disclose the relevant vested interest or affiliation relevant to that business.</p>
                <p>RSS Content provided from inSing.com (i) are provided on "as is" basis; (ii) may only be used for private and domestic consumption; and (iii) may not be used for commercial purposes.</p>
            </div>
            <div class="info-container">
                <div id="posted-content" class="fix-anchor">
                    <h3 class="title-s-m">4. Content Posted Or Submitted To Singtel</h3></div>
                <p>You agree to grant to Singtel a non-exclusive, royalty-free, worldwide, perpetual license, with the right to sublicense, reproduce, distribute, transmit, create derivative works of, publicly display and publicly perform any materials and other information (including, without limitation, ideas contained therein for new or improved products and services) you submit to public areas of the Site (such as message boards, forums, Member Profiles, yellow pages, job folders or other features that allow users to post information that will be accessible by the public or the user population generally) by all means and in any media now known or hereafter developed. You also grant to Singtel the right (though you acknowledge and agree that Singtel shall not be so obliged) to use your name in connection with the submitted materials and other information as well as in connection with all advertising, marketing and promotional material related thereto. You agree that you shall have no recourse against Singtel for any alleged or actual infringement or misappropriation of any proprietary right in your communications to us.</p>
                <p>Except for any information which we have expressly agreed to keep confidential, any feedback, data, answers, questions, comments, suggestions, plans, ideas or the like that you send to us via the Site, via email or howsoever otherwise whether in human or machine readable form, will be treated as being non-confidential and non-proprietary. We assume no obligation to protect such information from disclosure and will be free to reproduce, use, and distribute the information to others without restriction. We will also be free to use any ideas, concepts, know-how or techniques contained in information that you submit on the Site for any purpose whatsoever including but not limited to developing, manufacturing and marketing products and services incorporating such information.</p>
            </div>
            <div class="info-container">
                <div id="swap-place" class="fix-anchor">
                    <h3 class="title-s-m">5. Use of the Swap-Place Service</h3></div>
                <p>This Site includes the Swap-Place Service. You shall be deemed to have agreed to the following terms if you use the Swap-Place Service:</p>
                <ul>
                    <li>You warrant that by your use of the Swap-Place Service you do not breach any law or obligation to any third party. You shall only submit, post, upload, publish, or advertise tickets which you are authorized or entitled to exchange. Singtel will not be responsible in the event that a third party event organizer refuses entry to an event on the basis that you have breached the terms and conditions of the ticket by the use of the Swap-Place Service.</li>
                    <li>You agree and understand that the Swap-Place Service is solely for the exchange of tickets by individuals, and not for the sale of tickets by individuals, commercial entities or syndicates. The sale of tickets on the Swap-Place Service is prohibited, and you agree not to attempt to sell tickets or offer tickets for sale on this Swap-Place Service. We reserve the right to take down any post, upload or advertisement without notice at our sole discretion.</li>
                    <li>You understand that the use of the Swap-Place Service is solely at your own risk, and that Singtel does not have any control over the content of any offer of exchange and Singtel is not associated or affiliated with any exchanging parties. Each offer and acceptance of an exchange is concluded between the exchanging parties only. Singtel will not be responsible in any way for any loss or expense suffered or incurred by you arising from or in connection with your use of the Swap-Place Service and any exchange concluded through the use of the Swap-Place Service, including but not limited to the failure of any exchanging party to deliver authentic tickets, compliance with the terms and conditions of a ticket, misrepresentation, fraud, or any illegal act. You are encouraged to take all reasonable precautions before agreeing to any exchange.</li>
                </ul>
            </div>
            <div class="info-container">
                <div id="third-party-postings" class="fix-anchor">
                    <h3 class="title-s-m">6. Postings by Third Parties and Hyperlinks to Third Party Websites</h3></div>
                <p>This Site may contains hyperlinks to other websites which are neither maintained nor controlled by Singtel, or may contain Content posted on or via the Site by third parties. Therefore, Singtel shall not be responsible for any errors or omissions in any Content in the Site, or the Content, products or services of any hyperlinked website or any hyperlink contained in a hyperlinked web site, nor for the privacy and security practices employed by these other websites, and shall not be liable for any loss or damage of any kind incurred as a result of the use of any Content, whether in human or machine readable form, posted or contained in e-mails or howsoever otherwise transmitted or displayed via the Site, or arising from access to those websites. Use of the Site and any hyperlinks and access to such hyperlinked websites are entirely at your own risk.</p>
                <p>You acknowledge that Singtel has no control over and excludes all liability for any material on the Internet which can be accessed by using the Site. Neither can we be deemed to have endorsed the Content.</p>
                <p>Insofar as third party material, including without limitation news or other Content feeds by third party Content providers to the Site ("Third Party Material") is published on or accessed through the Site, such Third Party material shall not be published, broadcast, rewritten for broadcast or publication or redistributed directly or indirectly in any medium. Third Party Material may not be stored in whole or in part in a computer or otherwise except for personal and non-commercial use.</p>
                <p>Neither the owner, publisher and/or broadcaster of such Third Party Material nor Singtel will be held liable for any delays, inaccuracies, errors or omissions in any AFP news material or in transmission or delivery of all or any part thereof or for any damages whatsoever. If any Third Party Material or part thereof is a newswire service providing newsfeeds to the Site, releases from subjects, individuals, groups or entities contained in its photographs, videos, graphics or textuals quotations may not have been obtained.</p>
                <p>Further, clearance may not be obtained from the owners of any trademarks or copyrighted materials whose marks and materials are included in Third Party Material. Therefore you will be solely responsible for obtaining any and all necessary releases from whatever individuals and/or entities necessary for any uses of AFP material.</p>
            </div>
            <div class="info-container">
                <div id="third-party-links" class="fix-anchor">
                    <h3 class="title-s-m">7. Hyperlinks from Third Party Websites</h3></div>
                <p>You agree that caching, hyperlinking to, and framing of the Site or any of its Content are strictly prohibited.</p>
                <p>Singtel reserves all rights to disable any links to, or frames of any site containing inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topics, names, material or information, or material or information that violates any written law, any applicable intellectual property, proprietary, privacy or publicity rights.</p>
            </div>
            <div class="info-container">
                <div id="indemnity" class="fix-anchor">
                    <h3 class="title-s-m">8. Indemnity</h3></div>
                <p>You agree to indemnify, defend and hold harmless Singtel, its directors, officers, employees, suppliers, licensors, agents, and any third party Content providers, from and against any losses, damages, claims, costs, expenses, demands, and actions, occasioned by or howsoever arising out of your use of the Site, your access or connection to the Site, your violation of these Terms, or your violation of any rights of another. These obligations will survive any termination of your relationship with Singtel or your use of the Site. Singtel reserves the right to assume the defense and control of any matter subject to indemnification by you, in which event you will cooperate with Singtel in asserting any available defenses.</p>
            </div>
            <div class="info-container">
                <div id="warranties" class="fix-anchor">
                    <h3 class="title-s-m">9. Disclaimer of Warranties</h3></div>
                <p>You expressly understand and agree that:</p>
                <ul class="terms-indent">
                    <li>You assume total responsibility and risk for your use of the Site and the Internet. Singtel does not make any express or implied warranties, representations or endorsements whatsoever (including without limitation warranties of title or non-infringement, or the implied warranties of merchantability or fitness for a particular purpose) with regard to the Site, any merchandise, information or service provided through the Site or on the Internet generally, and Singtel shall not be liable for any cost or damage arising either directly or indirectly from any such transaction. The Site and any software made available on the Site are provided on an "as is, as available" basis.</li>
                    <li>Singtel makes no warranty that (i) the Site will meet your requirements or will always be accessible, (ii) the Site will be uninterrupted, timely, secure, error-free or free from computer virus or other invasive or damaging code, (iii) the results that may be obtained from the use of the Site will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the Site will meet your expectations, and (v) any errors in the Site will be corrected.</li>
                    <li>Any Content downloaded, uploaded or otherwise obtained through the use of the Site is done at your own discretion and risk. It is solely your responsibility to evaluate the accuracy, completeness and usefulness of all opinions, advice, services, merchandise and other information provided through the Site or on the Internet generally.</li>
                </ul>
            </div>
            <div class="info-container">
                <div id="golden-village" class="fix-anchor">
                    <h3 class="title-s-m">10. Disclaimer for Golden Village &amp; Similar Merchants</h3></div>
                <p>From time to time as we deem appropriate, we may allow access to or advertise certain third-party product or service providers ("Merchants") from whom you may purchase certain goods or services. Transactions for these goods and services may or may not be concluded on the Site. You understand that we do not operate or control the products or services offered by these Merchants. Merchants are responsible for all aspects of order processing, fulfillment, billing and customer service. We are not a party to the transactions entered into between you and Merchants and will not be held responsible for any rights and obligations between you and the Merchants.</p>
            </div>
            <div class="info-container">
                <div id="liability" class="fix-anchor">
                    <h3 class="title-s-m">11. Limitation of Liability</h3></div>
                <p>Singtel does not assume any legal liability or responsibility for the accuracy, completeness, or usefulness of any information, apparatus, product or process disclosed on the Site or other Content accessible from the Site. In no event shall Singtel be liable for any incidental, consequential, direct, indirect or any losses or damages whatsoever (including, but not limited to, loss or corruption of data, loss of profits, goodwill, bargain or opportunity or loss of anticipated savings, or business interruption, or any other loss, whether in an action of contract, negligence or other tortious action), arising out of or in connection with the use of or inability to use the Site, delays, inaccuracies or errors in the information or in the transmission of the Site, or any information or transactions provided on or over the Site or downloaded or hyperlinked from the Site, or performance of the Content on this Site, even if Singtel has been advised of the possibility of such damages.</p>
                <p>If you are dissatisfied with any portion of the Site, or with any of the Terms, your sole and exclusive remedy is to discontinue using the Site.</p>
            </div>
            <div class="info-container">
                <div id="property-rights" class="fix-anchor">
                    <h3 class="title-s-m">12. Intellectual Property Rights</h3></div>
                <p>Content (including, but not limited to, information, communications, software, images and sounds contained on or available through the Site) is provided by Singtel, its Content providers, third party licensors, which include end-users.</p>
                <p>The intellectual property rights to or over the Content contained in each Site belong to Singtel, its Content providers and third parties licensors, which include end-users. Insofar as said rights vest in Singtel, all rights are reserved. The Content of the Site cannot be reproduced, modified, transferred, distributed, republished, downloaded, posted or transmitted in any form or by any means including but not limited to electronic, mechanical photocopying or recording without the prior written permission of Singtel. You agree that the material and Content contained within or provided by the Site is for your own personal use only and may not be used for commercial purposes or distributed commercially.</p>
                <p>Your access to or use of the Site should not be construed as granting, by implication, estoppel or otherwise, any license or right to use the trademarks, tradenames, logos or service marks appearing on the Site without Singtel's or the relevant third party's prior written consent, as the case may be. You may not, without Singtel's or other relevant third party's prior written consent, use any of such trademarks, tradenames, logos or service marks as a hyperlink to the Site or any other website.</p>
                <p>You may not modify, translate, decompile, disassemble, reverse engineer or otherwise attempt to derive the source code for the computer systems and other technology that operate the Site or create derivative works based on the Site. For purposes of these Terms, "reverse engineering" shall include the examination or analysis of the Site to determine the source code, structure, organization, internal design, algorithms or encryption devices of the Site's underlying technology.</p>
            </div>
            <div class="info-container">
                <div id="general" class="fix-anchor">
                    <h3 class="title-s-m">13. General</h3></div>
                <p>Your access to or use of the Site, as well as these Terms shall be governed by, and construed in accordance with Singapore laws and you agree to submit to the exclusive jurisdiction of the Singapore courts.</p>
                <p>Singtel's failure to insist upon or enforce strict performance of any provision of these Terms shall not be construed as a waiver of any provision or right.</p>
                <p>If any part of these Terms is held to be unenforceable, the unenforceable part shall be given effect to the greatest extent possible and the remainder will remain in full force and effect.</p>
                <p>These Terms are for the benefit of Singtel and its directors, officers, employees, suppliers, licensors, agents, and any third party Content providers to the Site. Each of these individuals or entities shall have the right to assert and enforce those provisions directly against you on its own behalf.</p>
            </div>
        </div>
    </div>
{% endblock %}
